@font-face {
  font-family: 'Quality Sunrise';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('Quality-Sunrise.woff2') format('woff2'),
       url('Quality-Sunrise.woff') format('woff');
}

@font-face {
  font-family: 'Igra Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('Igra-Sans.woff2') format('woff2'),
       url('Igra-Sans.woff') format('woff');
}
