.events-content-parties-text= __('In addition to education and ecosystem growth efforts, we organize crazy events that leave a lasting impression on the community and have them eagerly anticipating the next one.')
a.events-content-parties-bottom-wrapper(href='https://blog.celestia.org/celestia-in-istanbul/' target='_blank')
  img.events-content-parties-image(
    loading='lazy'
    srcset=`/img/events/parties/celestia-600w.png, /img/events/parties/celestia-1200w.png 2x`,
    src=`/img/events/parties/celestia-1200w.png`
    alt='Celestia In Istanbul'
  )
