:root {
  --events-header-height: 130px;
  --events-header-animation-duration: 30s;
  --events-header-rotation-angle : 10deg;
  --events-header-vertical-margin: 60px;
  --events-header-font-size: 40px;
  --events-header-space-width: 15px;
  --events-description-margin-top: 60px;
  --events-description-font-size: 18px;
  --events-links-margin-top: 100px;
  --events-links-gap: 10px;
  --events-links-each-individual-event-width: 64px;
  --events-links-all-events-button-height: 42px;
  --events-links-all-events-button-width: 200px;
  --events-links-all-events-button-font-size: 16px;
  --events-links-all-events-button-icon-width: 15px;
  --events-links-all-events-button-transition-duration: 0.5s;
  --events-links-all-events-button-horizontal-padding: 20px;

  --events-content-margin-top: 60px;
  --events-content-navbar-width: 300px;
  --events-content-navbar-border-radius: 25px;
  --events-content-navbar-vertical-padding: 30px;
  --events-content-navbar-horizontal-padding: 40px;
  --events-content-navbar-header-title-font-size: 22px;
  --events-content-navbar-gap: 15px;
  --events-content-navbar-each-event-font-size: 18px;
  --events-content-navbar-header-icon-line-width: 2px;
  --events-content-navbar-responsive-gap: 8px;
  --events-content-navbar-responsive-margin-bottom: 50px;
  --events-content-navbar-each-event-responsive-font-size: 16px;
  --events-content-navbar-responsive-padding: 10px;
  --events-content-navbar-responsive-border-radius: 20px;
  --events-content-each-event-width: 800px;
  --events-content-each-event-padding: 40px;

  --events-content-cryptist-gap: 40px;
  --events-content-cryptist-text-font-size: 26px;
  --events-content-cryptist-title-font-size: 30px;
  --events-content-cryptist-each-image-gap: 20px;
  --events-content-cryptist-each-image-margin-right: 20px;
  --events-content-cryptist-links-gap: 6px;
  --events-content-cryptist-each-image-width: 200px;
  --events-content-cryptist-each-link-gap: 5px;
  --events-content-cryptist-each-link-font-size: 16px;
  --events-content-cryptist-each-link-icon-width: 12px;

  --events-content-cosmosphere-gap: 40px;
  --events-content-cosmosphere-text-font-size: 26px;
  --events-content-cosmosphere-title-font-size: 30px;
  --events-content-cosmosphere-each-image-gap: 20px;
  --events-content-cosmosphere-each-image-margin-right: 20px;
  --events-content-cosmosphere-left-image-width: 250px;
  --events-content-cosmosphere-middle-image-width: 180px;
  --events-content-cosmosphere-right-image-width: 120px;
  --events-content-cosmosphere-bottom-link-gap: 6px;
  --events-content-cosmosphere-bottom-link-icon-width: 10px;
  --events-content-cosmosphere-links-gap: 6px;
  --events-content-cosmosphere-each-link-gap: 5px;
  --events-content-cosmosphere-each-link-font-size: 16px;
  --events-content-cosmosphere-each-link-icon-width: 12px;

  --events-content-moda-palas-gap: 40px;
  --events-content-moda-palas-text-font-size: 26px;
  --events-content-moda-palas-each-image-gap: 20px;
  --events-content-moda-palas-each-image-margin-right: 20px;
  --events-content-moda-palas-left-image-width: 250px;
  --events-content-moda-palas-middle-image-width: 180px;
  --events-content-moda-palas-right-image-width: 120px;
  --events-content-moda-palas-title-font-size: 30px;
  --events-content-moda-palas-bottom-link-gap: 6px;
  --events-content-moda-palas-bottom-link-icon-width: 10px;
  --events-content-moda-palas-links-gap: 6px;
  --events-content-moda-palas-each-link-gap: 5px;
  --events-content-moda-palas-each-link-font-size: 16px;
  --events-content-moda-palas-each-link-icon-width: 12px;

  --events-content-workshops-gap: 40px;
  --events-content-workshops-text-font-size: 26px;
  --events-content-workshops-bottom-gap: 20px;
  --events-content-workshops-each-card-gap: 14px;
  --events-content-workshops-each-card-width: 160px;
  --events-content-workshops-each-card-text-font-size: 16px;

  --events-content-gatherings-gap: 40px;
  --events-content-gatherings-text-font-size: 26px;
  --events-content-gatherings-bottom-gap: 20px;
  --events-content-gatherings-each-card-gap: 14px;
  --events-content-gatherings-each-card-width: 160px;
  --events-content-gatherings-each-card-text-font-size: 16px;

  --events-content-hacker-houses-gap: 40px;
  --events-content-hacker-houses-text-font-size: 26px;
  --events-content-hacker-houses-bottom-gap: 20px;
  --events-content-hacker-houses-each-card-gap: 14px;
  --events-content-hacker-houses-each-card-width: 240px;
  --events-content-hacker-houses-each-card-text-font-size: 16px;

  --events-content-hacker-tours-gap: 40px;
  --events-content-hacker-tours-text-font-size: 26px;
  --events-content-hacker-tours-bottom-gap: 20px;
  --events-content-hacker-tours-each-card-gap: 14px;
  --events-content-hacker-tours-each-card-height: 140px;
  --events-content-hacker-tours-each-card-text-font-size: 16px;

  --events-content-parties-gap: 40px;
  --events-content-parties-text-font-size: 26px;
  --events-content-parties-width: 100%;

  --events-content-summits-gap: 40px;
  --events-content-summits-text-font-size: 26px;
  --events-content-summits-bottom-gap: 20px;
  --events-content-summits-each-summit-link-font-size: 16px;
  --events-content-summit-left-width: 180px;
  --events-content-summit-middle-width: 180px;
  --events-content-summit-right-width: 320px;
}

.events-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--page-vertical-padding) + var(--content-gap) / 2);
  background-color: var(--background-color);
  z-index: 3;
  overflow: hidden;
  display: flex;
}

.events-header-wrapper {
  display: flex;
  height: var(--events-header-height);
  min-height: var(--events-header-height);
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  overflow: hidden;
  z-index: 3;
  margin-left: var(--page-horizontal-padding);
  padding-bottom: 5px;
}
.events-header-each-inner-wrapper {
  height: var(--events-header-height);
  min-height: var(--events-header-height);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  align-items: flex-end;
  -webkit-animation: eventsHeaderScrollAnimation var(--events-header-animation-duration) infinite linear;
          animation: eventsHeaderScrollAnimation var(--events-header-animation-duration) infinite linear;
}
@-webkit-keyframes eventsHeaderScrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes eventsHeaderScrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.events-header-each-letter {
  font-weight: 500;
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-header-font-size);
  color: var(--bright-color-gradient-two);
  -webkit-animation: eventsHeaderLetterAnimation var(--events-header-animation-duration) infinite ease-in-out;
          animation: eventsHeaderLetterAnimation var(--events-header-animation-duration) infinite ease-in-out;
}
@-webkit-keyframes eventsHeaderLetterAnimation {
  0% {
    margin-bottom: 0;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(calc(-1 * var(--events-header-rotation-angle)));
  }
  50% {
    margin-bottom: var(--events-header-vertical-margin);
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(var(--events-header-rotation-angle));
  }
  100% {
    margin-bottom: 0;
    transform: rotate(0deg);
  }
}
@keyframes eventsHeaderLetterAnimation {
  0% {
    margin-bottom: 0;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(calc(-1 * var(--events-header-rotation-angle)));
  }
  50% {
    margin-bottom: var(--events-header-vertical-margin);
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(var(--events-header-rotation-angle));
  }
  100% {
    margin-bottom: 0;
    transform: rotate(0deg);
  }
}

.events-description-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: calc((100vw - 2 * var(--page-horizontal-padding)) * 3 / 5);
  min-width: calc((100vw - 2 * var(--page-horizontal-padding)) * 3 / 5);
  margin-top: var(--events-description-margin-top);
  margin-left: var(--page-horizontal-padding);
}
.events-description {
  font-weight: 700;
  font-size: var(--events-description-font-size);
  font-style: italic;
  color: var(--dark-text-color);
  line-height: calc(1.4 * var(--events-description-font-size));
}
.events-description-mail {
  color: var(--link-light-color);
  border-bottom: 2px solid var(--link-light-color);
  text-decoration: none;
}

.events-links-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--events-links-margin-top);
  margin-left: var(--page-horizontal-padding);
}
.events-links-individual-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  gap: var(--events-links-gap);
}
.events-links-each-individual-event {
  width: var(--events-links-each-individual-event-width);
  min-width: var(--events-links-each-individual-event-width);
  height: var(--events-links-each-individual-event-width);
  min-height: var(--events-links-each-individual-event-width);
  cursor: var(--pointer-hand-light);
}
.events-links-each-individual-event-image {
  width: 100%;
  height: 100%;
}
.events-links-all-events-button {
  height: var(--events-links-all-events-button-height);
  min-height: var(--events-links-all-events-button-height);
  width: var(--events-links-all-events-button-width);
  min-width: var(--events-links-all-events-button-width);
  display: flex;
  align-items: center;
  padding: 0 var(--events-links-all-events-button-horizontal-padding);
  border: 1px solid var(--dark-text-color);
  border-radius: calc(var(--events-links-all-events-button-height) / 2);
  text-decoration: none;
  cursor: var(--pointer-hand-dark);
  overflow: hidden;
}
.events-links-all-events-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-weight: 500;
  font-size: var(--events-links-all-events-button-font-size);
  color: var(--dark-text-color);
  margin-right: auto;
  margin-left: var(--events-links-all-events-button-horizontal-padding);
  text-decoration: none;
  transition: var(--events-links-all-events-button-transition-duration);
}
.events-links-all-events-button-icon {
  height: auto;
  min-height: auto;
  width: var(--events-links-all-events-button-icon-width);
  min-width: var(--events-links-all-events-button-icon-width);
  transition: var(--events-links-all-events-button-transition-duration);
}
.events-links-all-events-button-icon-left {
  margin-left: calc(-1 * (var(--events-links-all-events-button-horizontal-padding) + var(--events-links-all-events-button-icon-width)));
}
.events-links-all-events-button:hover .events-links-all-events-button-icon-left {
  margin-left: 0;
}
.events-links-all-events-button:hover .events-links-all-events-button-icon-right {
  margin-right: calc(-1 * (var(--events-links-all-events-button-horizontal-padding) + var(--events-links-all-events-button-icon-width)));
}

.events-content-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  margin-top: var(--events-content-margin-top);
  margin-left: var(--page-horizontal-padding);
}
.events-content-navbar-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-navbar-width);
  min-width: var(--events-content-navbar-width);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-text-color);
  border-radius: var(--events-content-navbar-border-radius);
  overflow: hidden;
}
.events-content-navbar-header-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--events-content-navbar-vertical-padding) var(--events-content-navbar-horizontal-padding);
  cursor: var(--pointer-hand-dark);
}
.events-content-navbar-header-title {
  font-family: 'Igra Sans', sans-serif;
  font-weight: 400;
  font-size: var(--events-content-navbar-header-title-font-size);
  color: var(--dark-text-color);
}
.events-content-navbar-header-icon-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--events-content-navbar-header-icon-line-width) * 2);
}
.events-content-navbar-header-icon-each-line {
  width: var(--events-content-navbar-header-icon-line-width);
  min-width: var(--events-content-navbar-header-icon-line-width);
  height: calc(5 * var(--events-content-navbar-header-icon-line-width));
  min-height: calc(5 * var(--events-content-navbar-header-icon-line-width));
  border-radius: var(--events-content-navbar-header-icon-line-width);
  background-color: var(--dark-text-color);
  transition: all .5s;
}
.events-content-navbar-header-icon-line-left {
  transform: rotate(45deg);
}
.events-content-navbar-header-icon-line-left-reversed {
  transform: rotate(-45deg);
}
.events-content-navbar-header-icon-line-right {
  transform: rotate(-45deg);
}
.events-content-navbar-header-icon-line-right-reversed {
  transform: rotate(45deg);
}
.events-content-navbar-events-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100vh;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--events-content-navbar-vertical-padding) / 3);
  padding-bottom: var(--events-content-navbar-vertical-padding);
  gap: var(--events-content-navbar-gap);
  transition: all .5s;
}
.events-content-navbar-events-wrapper-closed {
  max-height: 0;
  padding: 0;
}
.events-content-navbar-each-event {
  font-family: 'Igra Sans', sans-serif;
  font-weight: 400;
  font-size: var(--events-content-navbar-each-event-font-size);
  line-height: 1.6;
  color: var(--dark-text-color);
  opacity: .95;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  cursor: var(--pointer-hand-dark);
  padding: 0 var(--events-content-navbar-horizontal-padding);
  transition: color .5s, border-left .5s;
}
.events-content-navbar-each-event-selected {
  color: #FF3A3A;
  opacity: 1;
  border-left: 5px solid #FF3A3A;
  padding-left: calc(var(--events-content-navbar-horizontal-padding) - 5px);
}
.events-content-navbar-wrapper-responsive {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  flex-wrap: wrap;
  gap: var(--events-content-navbar-responsive-gap);
  margin-bottom: var(--events-content-navbar-responsive-margin-bottom);
}
.events-content-navbar-each-event-responsive {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-navbar-each-event-responsive-font-size);
  color: var(--dark-text-color);
  background-color: var(--light-color);
  padding: var(--events-content-navbar-responsive-padding) calc(1.5 * var(--events-content-navbar-responsive-padding));
  border-radius: var(--events-content-navbar-responsive-border-radius);
  cursor: var(--pointer-hand-dark);
  transition: all .5s;
}
.events-content-navbar-each-event-responsive:hover {
  background-color: var(--secondary-light-color);
}
.events-content-navbar-each-event-selected-responsive {
  background-color: var(--link-light-color);
}
.events-links-all-events-button-responsive {
  height: var(--events-links-all-events-button-height);
  min-height: var(--events-links-all-events-button-height);
  width: var(--events-links-all-events-button-width);
  min-width: var(--events-links-all-events-button-width);
  display: none;
  align-items: center;
  padding: 0 var(--events-links-all-events-button-horizontal-padding);
  border: 1px solid var(--dark-text-color);
  border-radius: calc(var(--events-links-all-events-button-height) / 2);
  text-decoration: none;
  cursor: var(--pointer-hand-dark);
  overflow: hidden;
}
.events-links-all-events-button-responsive-text {
  font-family: 'Igra Sans', sans-serif;
  font-weight: 500;
  font-size: var(--events-links-all-events-button-font-size);
  color: var(--dark-text-color);
  margin-right: auto;
  margin-left: var(--events-links-all-events-button-horizontal-padding);
  text-decoration: none;
  transition: var(--events-links-all-events-button-transition-duration);
}
.events-links-all-events-button-responsive-icon {
  height: auto;
  min-height: auto;
  width: var(--events-links-all-events-button-icon-width);
  min-width: var(--events-links-all-events-button-icon-width);
  transition: var(--events-links-all-events-button-transition-duration);
}
.events-links-all-events-button-responsive-icon-left {
  margin-left: calc(-1 * (var(--events-links-all-events-button-horizontal-padding) + var(--events-links-all-events-button-icon-width)));
}
.events-links-all-events-button-responsive:hover .events-links-all-events-button-responsive-icon-left {
  margin-left: 0;
}
.events-links-all-events-button-responsive:hover .events-links-all-events-button-responsive-icon-right {
  margin-right: calc(-1 * (var(--events-links-all-events-button-horizontal-padding) + var(--events-links-all-events-button-icon-width)));
}

.events-content-inner-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding) - var(--events-content-navbar-width));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding) - var(--events-content-navbar-width));
  margin: auto;
  display: flex;
  flex-direction: column;
}
.events-content-each-event-wrapper {
  height: 100%;
  min-height: 100%;
  width: var(--events-content-each-event-width);
  min-width: var(--events-content-each-event-width);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: var(--events-content-each-event-padding);
}

.events-content-cryptist-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-cryptist-gap);
}
.events-content-cryptist-text {
  font-size: var(--events-content-cryptist-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-cryptist-title-link {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-cryptist-title-font-size);
  color: var(--dark-text-color);
  text-decoration: none;
  display: flex;
  gap: calc(var(--events-content-cryptist-title-font-size) / 2);
  cursor: var(--pointer-hand-explore-dark);
}
.events-content-cryptist-title-link-icon {
  display: none;
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: calc(var(--events-content-cryptist-title-font-size) * 0.8);
  min-width: calc(var(--events-content-cryptist-title-font-size) * 0.8);
  transition: all .5s;
}
.events-content-cryptist-title-link:hover .events-content-cryptist-title-link-icon {
  transform: translate(20%, -10%);
}
.events-content-cryptist-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  scrollbar-width: none;
}
.events-content-cryptist-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-cryptist-images-wrapper {
  display: flex;
}
.events-content-cryptist-each-image-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-cryptist-each-image-width);
  min-width: var(--events-content-cryptist-each-image-width);
  display: flex;
  flex-direction: column;
  gap: var(--events-content-cryptist-each-image-gap);
  margin-right: var(--events-content-cryptist-each-image-margin-right);
}
.events-content-cryptist-each-image {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: 100%;
}
.events-content-cryptist-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-cryptist-links-gap);
}
.events-content-cryptist-each-link {
  display: flex;
  align-items: center;
  gap: var(--events-content-cryptist-each-link-gap);
  text-decoration: none;
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-cryptist-each-link-font-size);
  color: var(--dark-text-color);
  cursor: var(--pointer-hand-dark);
}
.events-content-cryptist-each-link:hover .events-content-cryptist-each-link-icon {
  transform: translate(20%, -10%);
}
.events-content-cryptist-each-link-icon {
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: var(--events-content-cryptist-each-link-icon-width);
  min-width: var(--events-content-cryptist-each-link-icon-width);
  transition: all .5s;
}

.events-content-cosmosphere-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-cosmosphere-gap);
}
.events-content-cosmosphere-text {
  font-size: var(--events-content-cosmosphere-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-cosmosphere-title {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-cosmosphere-title-font-size);
  color: var(--dark-text-color);
}
.events-content-cosmosphere-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
}
.events-content-cosmosphere-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-cosmosphere-images-wrapper {
  display: flex;
}
.events-content-cosmosphere-each-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-cosmosphere-each-image-gap);
  margin-right: var(--events-content-cosmosphere-each-image-margin-right);
}
.events-content-cosmosphere-left-image-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-cosmosphere-left-image-width);
  min-width: var(--events-content-cosmosphere-left-image-width);
}
.events-content-cosmosphere-middle-image-wrapper {
  width: var(--events-content-cosmosphere-middle-image-width);
  min-width: var(--events-content-cosmosphere-middle-image-width);
}
.events-content-cosmosphere-right-image-wrapper {
  width: var(--events-content-cosmosphere-right-image-width);
  min-width: var(--events-content-cosmosphere-right-image-width);
}
.events-content-cosmosphere-each-image {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: 100%;
}
.events-content-cosmosphere-bottom-link-wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--events-content-cosmosphere-bottom-link-gap);
  text-decoration: none;
  cursor: var(--pointer-hand-explore-dark);
}
.events-content-cosmosphere-bottom-link-icon {
  fill: var(--bright-color-gradient-two);
  height: auto;
  min-height: auto;
  width: var(--events-content-cosmosphere-bottom-link-icon-width);
  min-width: var(--events-content-cosmosphere-bottom-link-icon-width);
  transition: all .5s;
}
.events-content-cosmosphere-bottom-link-wrapper:hover .events-content-cosmosphere-bottom-link-icon {
  transform: translate(20%, -10%);
}
.events-content-cosmosphere-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-cosmosphere-links-gap);
}
.events-content-cosmosphere-each-link {
  display: flex;
  align-items: center;
  gap: var(--events-content-cosmosphere-each-link-gap);
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-cosmosphere-each-link-font-size);
  color: var(--dark-text-color);
  text-decoration: none;
}
.events-content-cosmosphere-each-link-icon {
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: var(--events-content-cosmosphere-each-link-icon-width);
  min-width: var(--events-content-cosmosphere-each-link-icon-width);
  transition: all .5s;
}
.events-content-cosmosphere-each-link:hover .events-content-cosmosphere-each-link-icon {
  transform: translate(20%, -10%);
}
.events-content-cosmosphere-each-link-red {
  color: rgba(255, 58, 58, 1);
}
.events-content-cosmosphere-each-link-red-icon {
  fill: rgba(255, 58, 58, 1);
}

.events-content-moda-palas-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-moda-palas-gap);
}
.events-content-moda-palas-text {
  font-size: var(--events-content-moda-palas-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-moda-palas-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
}
.events-content-moda-palas-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-moda-palas-images-wrapper {
  display: flex;
}
.events-content-moda-palas-each-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-moda-palas-each-image-gap);
  margin-right: var(--events-content-moda-palas-each-image-margin-right);
}
.events-content-moda-palas-left-image-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-moda-palas-left-image-width);
  min-width: var(--events-content-moda-palas-left-image-width);
}
.events-content-moda-palas-middle-image-wrapper {
  width: var(--events-content-moda-palas-middle-image-width);
  min-width: var(--events-content-moda-palas-middle-image-width);
}
.events-content-moda-palas-right-image-wrapper {
  width: var(--events-content-moda-palas-right-image-width);
  min-width: var(--events-content-moda-palas-right-image-width);
}
.events-content-moda-palas-each-image {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: 100%;
}
.events-content-moda-palas-title {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-moda-palas-title-font-size);
  color: var(--dark-text-color);
}
.events-content-moda-palas-title-link {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-moda-palas-title-font-size);
  color: var(--dark-text-color);
  text-decoration: none;
  display: flex;
  gap: calc(var(--events-content-moda-palas-title-font-size) / 2);
  cursor: var(--pointer-hand-explore-dark);
}
.events-content-moda-palas-title-link-icon {
  display: none;
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: calc(var(--events-content-moda-palas-title-font-size) * 0.8);
  min-width: calc(var(--events-content-moda-palas-title-font-size) * 0.8);
  transition: all .5s;
}
.events-content-moda-palas-title-link:hover .events-content-moda-palas-title-link-icon {
  transform: translate(20%, -10%);
}
.events-content-moda-palas-bottom-link-wrapper {
  display: flex;
  gap: var(--events-content-moda-palas-bottom-link-gap);
  text-decoration: none;
  color: var(--bright-color-gradient-two);
}
.events-content-moda-palas-bottom-link-icon {
  fill: var(--bright-color-gradient-two);
  height: auto;
  min-height: auto;
  width: var(--events-content-moda-palas-bottom-link-icon-width);
  min-width: var(--events-content-moda-palas-bottom-link-icon-width);
  transition: all .5s;
}
.events-content-moda-palas-bottom-link-wrapper:hover .events-content-moda-palas-bottom-link-icon {
  transform: translate(20%, -10%);
}
.events-content-moda-palas-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-moda-palas-links-gap);
}
.events-content-moda-palas-each-link {
  display: flex;
  align-items: center;
  gap: var(--events-content-moda-palas-each-link-gap);
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-moda-palas-each-link-font-size);
  color: var(--dark-text-color);
  text-decoration: none;
}
.events-content-moda-palas-each-link-icon {
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: var(--events-content-moda-palas-each-link-icon-width);
  min-width: var(--events-content-moda-palas-each-link-icon-width);
  transition: all .5s;
}
.events-content-moda-palas-each-link:hover .events-content-moda-palas-each-link-icon {
  transform: translate(20%, -10%);
}

.events-content-workshops-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-workshops-gap);
}
.events-content-workshops-text {
  font-size: var(--events-content-workshops-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-workshops-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: var(--events-content-workshops-bottom-gap);
  overflow-x: auto;
  cursor: var(--pointer-hand-drag-dark);
  scrollbar-width: none;
}
.events-content-workshops-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-workshops-each-card-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-workshops-each-card-width);
  min-width: var(--events-content-workshops-each-card-width);
  display: flex;
  flex-direction: column;
  gap: var(--events-content-workshops-each-card-gap);
  text-decoration: none;
  cursor: var(--pointer-hand-drag-dark);
}
.events-content-workshops-each-card-image {
  height: var(--events-content-workshops-each-card-width);
  min-height: var(--events-content-workshops-each-card-width);
  width: var(--events-content-workshops-each-card-width);
  min-width: var(--events-content-workshops-each-card-width);
}
.events-content-workshops-each-card-text {
  font-size: var(--events-content-workshops-each-card-text-font-size);
  font-weight: 500;
  color: var(--dark-text-color);
}

.events-content-gatherings-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-gatherings-gap);
}
.events-content-gatherings-text {
  font-size: var(--events-content-gatherings-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-gatherings-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: var(--events-content-gatherings-bottom-gap);
  overflow-x: auto;
  cursor: var(--pointer-hand-drag-dark);
  scrollbar-width: none;
}
.events-content-gatherings-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-gatherings-each-card-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-gatherings-each-card-width);
  min-width: var(--events-content-gatherings-each-card-width);
  display: flex;
  flex-direction: column;
  gap: var(--events-content-gatherings-each-card-gap);
  text-decoration: none;
  cursor: var(--pointer-hand-drag-dark);
}
.events-content-gatherings-each-card-image {
  height: var(--events-content-gatherings-each-card-width);
  min-height: var(--events-content-gatherings-each-card-width);
  width: var(--events-content-gatherings-each-card-width);
  min-width: var(--events-content-gatherings-each-card-width);
}
.events-content-gatherings-each-card-text {
  font-size: var(--events-content-gatherings-each-card-text-font-size);
  font-weight: 500;
  color: var(--dark-text-color);
}

.events-content-hacker-houses-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-hacker-houses-gap);
}
.events-content-hacker-houses-text {
  font-size: var(--events-content-hacker-houses-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-hacker-houses-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: var(--events-content-hacker-houses-bottom-gap);
  overflow-x: auto;
  cursor: var(--pointer-hand-drag-dark);
  scrollbar-width: none;
}
.events-content-hacker-houses-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-hacker-houses-each-card-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: var(--events-content-hacker-houses-each-card-width);
  min-width: var(--events-content-hacker-houses-each-card-width);
  display: flex;
  flex-direction: column;
  gap: var(--events-content-hacker-houses-each-card-gap);
  text-decoration: none;
  cursor: var(--pointer-hand-drag-dark);
}
.events-content-hacker-houses-each-card-image {
  height: var(--events-content-hacker-houses-each-card-width);
  min-height: var(--events-content-hacker-houses-each-card-width);
  width: var(--events-content-hacker-houses-each-card-width);
  min-width: var(--events-content-hacker-houses-each-card-width);
}
.events-content-hacker-houses-each-card-text {
  font-size: var(--events-content-hacker-houses-each-card-text-font-size);
  font-weight: 500;
  color: var(--dark-text-color);
}

.events-content-hacker-tours-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-hacker-tours-gap);
}
.events-content-hacker-tours-text {
  font-size: var(--events-content-hacker-tours-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-hacker-tours-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: var(--events-content-hacker-tours-bottom-gap);
  overflow-x: auto;
  cursor: var(--pointer-hand-drag-dark);
  scrollbar-width: none;
}
.events-content-hacker-tours-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-hacker-tours-each-card-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--events-content-hacker-tours-each-card-gap);
  text-decoration: none;
  cursor: var(--pointer-hand-drag-dark);
}
.events-content-hacker-tours-each-card-image {
  height: var(--events-content-hacker-tours-each-card-height);
  min-height: var(--events-content-hacker-tours-each-card-height);
  width: auto;
  min-width: auto;
}
.events-content-hacker-tours-each-card-text {
  font-size: var(--events-content-hacker-tours-each-card-text-font-size);
  font-weight: 500;
  color: var(--dark-text-color);
}

.events-content-parties-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-parties-gap);
}
.events-content-parties-text {
  font-size: var(--events-content-parties-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-parties-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  overflow-x: auto;
  cursor: var(--pointer-hand-explore-dark);
}
.events-content-parties-image {
  height: auto;
  min-height: auto;
  width: var(--events-content-parties-width);
  min-width: var(--events-content-parties-width);
}

.events-content-summits-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--events-content-summits-gap);
}
.events-content-summits-text {
  font-size: var(--events-content-summits-text-font-size);
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-text-color);
}
.events-content-summits-bottom-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: var(--events-content-summits-bottom-gap);
  overflow-x: auto;
}
.events-content-summits-bottom-wrapper::-webkit-scrollbar {
  display: none;
}
.events-content-summits-each-summit-wrapper {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-decoration: none;
  cursor: var(--pointer-hand-explore-dark);
  gap: var(--events-content-summits-each-summit-link-font-size);
}
.events-content-summit-left {
  width: var(--events-content-summit-left-width);
  min-width: var(--events-content-summit-left-width);
}
.events-content-summit-middle {
  width: var(--events-content-summit-middle-width);
  min-width: var(--events-content-summit-middle-width);
}
.events-content-summit-right {
  width: var(--events-content-summit-right-width);
  min-width: var(--events-content-summit-right-width);
}
.events-content-summits-each-summit-image {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: 100%;
}
.events-content-summits-each-summit-link {
  display: flex;
  color: var(--dark-text-color);
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--events-content-summits-each-summit-link-font-size);
  gap: var(--events-content-summits-each-summit-link-font-size);
}
.events-content-summits-each-summit-link-icon {
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: calc(var(--events-content-summits-each-summit-link-font-size) * 0.8);
  min-width: calc(var(--events-content-summits-each-summit-link-font-size) * 0.8);
  transition: all .5s;
}
.events-content-summits-each-summit-wrapper:hover .events-content-summits-each-summit-link-icon {
  transform: translate(20%, -10%);
}

@media only screen and (max-width: 1200px) {
  :root {
    --events-content-each-event-width: 700px;
    --events-content-cryptist-text-font-size: 24px;
    --events-content-cryptist-title-font-size: 24px;
    --events-content-cryptist-each-image-width: 160px;
    --events-content-cryptist-each-link-font-size: 14px;
    --events-content-cryptist-each-link-icon-width: 10px;
    --events-content-moda-palas-text-font-size: 24px;
    --events-content-moda-palas-title-font-size: 24px;
    --events-content-moda-palas-left-image-width: 210px;
    --events-content-moda-palas-middle-image-width: 160px;
    --events-content-moda-palas-right-image-width: 110px;
    --events-content-moda-palas-each-link-font-size: 14px;
    --events-content-moda-palas-each-link-icon-width: 10px;
    --events-content-cosmosphere-text-font-size: 24px;
    --events-content-cosmosphere-title-font-size: 24px;
    --events-content-cosmosphere-left-image-width: 210px;
    --events-content-cosmosphere-middle-image-width: 160px;
    --events-content-cosmosphere-right-image-width: 110px;
    --events-content-cosmosphere-each-link-font-size: 14px;
    --events-content-cosmosphere-each-link-icon-width: 10px;
    --events-content-workshops-text-font-size: 24px;
    --events-content-gatherings-text-font-size: 24px;
    --events-content-hacker-houses-text-font-size: 24px;
    --events-content-hacker-tours-text-font-size: 24px;
    --events-content-parties-text-font-size: 24px;
    --events-content-summits-text-font-size: 24px;
    --events-content-summit-left-width: 160px;
    --events-content-summit-middle-width: 160px;
    --events-content-summit-right-width: 260px;
  }
}
@media only screen and (max-width: 1100px) {
  :root {
    --events-content-navbar-width: 240px;
    --events-content-navbar-horizontal-padding: 30px;
    --events-content-each-event-padding: 30px;
    --events-content-each-event-width: 650px;
    --events-content-cryptist-text-font-size: 22px;
    --events-content-moda-palas-text-font-size: 22px;
    --events-content-cosmosphere-text-font-size: 22px;
    --events-content-workshops-text-font-size: 22px;
    --events-content-gatherings-text-font-size: 22px;
    --events-content-hacker-houses-text-font-size: 22px;
    --events-content-hacker-tours-text-font-size: 22px;
    --events-content-parties-text-font-size: 22px;
    --events-content-summits-text-font-size: 22px;
    --events-content-summit-left-width: 150px;
    --events-content-summit-middle-width: 150px;
    --events-content-summit-right-width: 240px;
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --events-header-height: 100px;
    --events-header-font-size: 30px;
    --events-content-navbar-horizontal-padding: 20px;
    --events-content-navbar-vertical-padding: 20px;
    --events-content-navbar-width: 200px;
    --events-content-each-event-width: 600px;
    --events-content-cryptist-each-image-width: 140px;
    --events-content-cryptist-each-image-margin-right: 14px;
    --events-content-cryptist-text-font-size: 20px;
    --events-content-cryptist-title-font-size: 22px;
    --events-content-moda-palas-left-image-width: 210px;
    --events-content-moda-palas-middle-image-width: 150px;
    --events-content-moda-palas-right-image-width: 100px;
    --events-content-moda-palas-each-image-margin-right: 14px;
    --events-content-moda-palas-text-font-size: 20px;
    --events-content-moda-palas-title-font-size: 22px;
    --events-content-cosmosphere-left-image-width: 210px;
    --events-content-cosmosphere-middle-image-width: 150px;
    --events-content-cosmosphere-right-image-width: 100px;
    --events-content-cosmosphere-each-image-margin-right: 14px;
    --events-content-cosmosphere-text-font-size: 20px;
    --events-content-cosmosphere-title-font-size: 22px;
    --events-content-workshops-text-font-size: 20px;
    --events-content-gatherings-text-font-size: 20px;
    --events-content-hacker-houses-text-font-size: 20px;
    --events-content-hacker-tours-text-font-size: 20px;
    --events-content-summits-text-font-size: 20px;
    --events-content-summit-left-width: 140px;
    --events-content-summit-middle-width: 140px;
    --events-content-summit-right-width: 220px;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --events-content-each-event-width: 100%;
    --events-content-navbar-width: 0px;
    --events-content-each-event-padding: 0px;
    --events-content-cryptist-each-image-width: 180px;
    --events-content-moda-palas-left-image-width: 250px;
    --events-content-moda-palas-middle-image-width: 200px;
    --events-content-moda-palas-right-image-width: 150px;
    --events-content-cosmosphere-left-image-width: 250px;
    --events-content-cosmosphere-middle-image-width: 200px;
    --events-content-cosmosphere-right-image-width: 150px;
    --events-content-summit-left-width: 180px;
    --events-content-summit-middle-width: 180px;
    --events-content-summit-right-width: 280px;
  }

  .events-content-wrapper {
    flex-direction: column;
  }
  .events-content-navbar-wrapper {
    display: none;
  }
  .events-content-navbar-wrapper-responsive {
    display: flex;
  }
  .events-links-all-events-button-responsive {
    display: flex;
    margin-left: auto;
    margin-top: var(--page-vertical-padding);
  }
  .events-links-all-events-button {
    display: none;
  }
  .events-content-each-event-wrapper {
    margin: 0;
  }

  .events-content-cryptist-wrapper,
  .events-content-moda-palas-wrapper,
  .events-content-cosmosphere-wrapper,
  .events-content-workshops-wrapper,
  .events-content-gatherings-wrapper,
  .events-content-hacker-houses-wrapper,
  .events-content-hacker-tours-wrapper,
  .events-content-parties-wrapper,
  .events-content-summits-wrapper {
    flex-direction: column-reverse;
  }
  .events-content-cryptist-bottom-wrapper {
    justify-content: space-between;
    gap: var(--events-content-cryptist-each-image-margin-right);
    overflow-x: auto;
  }
  .events-content-cryptist-links-wrapper,
  .events-content-moda-palas-links-wrapper {
    display: none;
  }
  .events-content-cryptist-title-link-icon,
  .events-content-moda-palas-title-link-icon {
    display: flex;
  }

  .events-content-moda-palas-bottom-wrapper {
    justify-content: space-between;
    overflow-x: auto;
  }

  .events-content-cosmosphere-bottom-wrapper {
    justify-content: space-between;
    overflow-x: auto;
  }
  .events-content-cosmosphere-links-wrapper {
    display: none;
  }
  .events-content-cosmosphere-title-link-icon {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --events-content-navbar-responsive-padding: 8px;
    --events-content-cryptist-text-font-size: 18px;
    --events-content-moda-palas-text-font-size: 18px;
    --events-content-moda-palas-each-image-margin-right: 10px;
    --events-content-cosmosphere-text-font-size: 18px;
    --events-content-cosmosphere-each-image-margin-right: 10px;
    --events-content-workshops-text-font-size: 18px;
    --events-content-workshops-each-card-width: 120px;
    --events-content-gatherings-text-font-size: 18px;
    --events-content-gatherings-each-card-width: 120px;
    --events-content-hacker-houses-text-font-size: 18px;
    --events-content-hacker-tours-text-font-size: 18px;
    --events-content-hacker-tours-each-card-height: 100px;
    --events-content-summits-text-font-size: 18px;
  }

  .start-page-external-events-wrapper {
    display: none;
  }
  .start-page-external-events-wrapper-responsive {
    display: flex;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --events-content-cryptist-text-font-size: 16px;
    --events-content-cryptist-each-image-width: 140px;
    --events-content-moda-palas-text-font-size: 16px;
    --events-content-moda-palas-left-image-width: 210px;
    --events-content-moda-palas-middle-image-width: 150px;
    --events-content-moda-palas-right-image-width: 100px;
    --events-content-cosmosphere-text-font-size: 16px;
    --events-content-cosmosphere-left-image-width: 210px;
    --events-content-cosmosphere-middle-image-width: 150px;
    --events-content-cosmosphere-right-image-width: 100px;
    --events-content-workshops-text-font-size: 16px;
    --events-content-gatherings-text-font-size: 16px;
    --events-content-hacker-houses-text-font-size: 16px;
    --events-content-hacker-tours-text-font-size: 16px;
    --events-content-summits-text-font-size: 16px;
    --events-content-summit-left-width: 140px;
    --events-content-summit-middle-width: 140px;
    --events-content-summit-right-width: 220px;
  }
}