:root {
  --content-gap: 100px;

  --start-page-radius: 30px;
  --start-page-color-empty-height: 0px;
  --start-page-social-media-wrapper-width: 50px;
  --start-page-background-shape-height: 130vh;

  --start-page-background-shape-one-over-total-height-ratio: 746 / 1415;
  --start-page-background-shape-one-width-over-height-ratio: 763 / 746;
  --start-page-background-shape-one-two-height-difference-ratio: 533 / 746;
  --start-page-background-shape-one-two-width-difference-ratio: 27 / 763;
  --start-page-background-shape-one-animation-duration: 0.6s;

  --start-page-background-shape-two-over-total-height-ratio: 254 / 1415;
  --start-page-background-shape-two-width-over-height-ratio: 706 / 254;
  --start-page-background-shape-two-three-height-difference-ratio: 11 / 254;
  --start-page-background-shape-two-three-width-difference-ratio: 609 / 706;
  --start-page-background-shape-two-animation-height-start-ratio: 121 / 254;
  --start-page-background-shape-two-animation-duration: 0.3s;

  --start-page-background-shape-three-over-total-height-ratio: 293 / 1415;
  --start-page-background-shape-three-four-height-difference-ratio: 34 / 293;
  --start-page-background-shape-two-four-width-difference-ratio: 141 / 706;
  --start-page-background-shape-three-animation-duration: 0.15s;

  --start-page-background-shape-four-over-total-height-ratio: 202 / 1415;
  --start-page-background-shape-four-width-over-height-ratio: 495 / 202;
  --start-page-background-shape-two-five-height-difference-ratio: 409 / 254;
  --start-page-background-shape-two-five-width-difference-ratio: 148 / 706;
  --start-page-background-shape-four-animation-duration: 0.2s;

  --start-page-background-shape-five-over-total-height-ratio: 473 / 1415;
  --start-page-background-shape-five-width-over-height-ratio: 623 / 473;
  --start-page-background-shape-five-animation-height-start-ratio: 104 / 473;
  --start-page-background-shape-five-animation-duration: 0.3s;

  --start-page-external-link-hover-transition-duration: 0.3s;
  --start-page-external-link-title-font-size: 20px;
  --start-page-external-link-icon-width: 15px;
  --start-page-external-link-icon-margin-left: 8px;
  --start-page-external-link-text-font-size: 15px;
  --start-page-external-klein-margin-bottom: 30px;
  --start-page-external-events-margin-top: -15px;
  --start-page-external-events-margin-left: 20px;

  --start-page-header-font-size: 100px;
  --start-page-header-font-space: 30px;
  --start-page-header-gap: 40px;
  --start-page-description-font-size: 19px;
  --start-page-description-max-width: 530px;
  --start-page-social-media-margin-right: 20px;
  --start-page-social-media-button-width: 22px;
  --start-page-social-media-button-gap: 20px;

  --portfolio-curvature-border-radius: 20px;
  --portfolio-header-font-size: 22px;
  --portfolio-header-text-gap: 15px;
  --portfolio-header-top-line-text-width: 50vw;
  --portfolio-header-bottom-line-text-width: 45vw;
  --portfolio-header-bottom-line-link-icon-width: 20px;

  --services-curvature-border-radius: 40px;
  --services-header-subtitle-font-size: 18px;
  --services-header-title-font-size: 64px;
  --services-each-border-radius: 40px;
  --services-each-gap: 40px;
  --services-each-padding: 25px;
  --services-each-max-width: 440px;
  --services-each-title-font-size: 24px;
  --services-each-text-margin-top: 15px;
  --services-each-text-font-size: 16px;
  --services-each-text-space-size: 5px;
  --services-content-description-max-width: 500px;
  --services-content-description-title-font-size: 36px;
  --services-content-description-subtitle-margin-top: 10px;
  --services-content-description-subtitle-font-size: 19px;
  --services-content-description-button-margin-top: 30px;
  --services-content-description-button-height: 50px;
  --services-content-description-button-width: 200px;
  --services-content-description-button-horizontal-padding: 20px;
  --services-content-description-button-text-font-size: 16px;
  --services-content-description-button-icon-width: 15px;
}

.content-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: var(--page-vertical-padding) var(--page-horizontal-padding);
  overflow-x: hidden;
  overflow-y: auto;
}

.content-inner-wrapper {
  position: relative;
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 4;
  overflow: visible;
}

.start-page-background {
  position: absolute;
  height: calc(100vh - 2 * var(--page-vertical-padding));
  min-height: calc(100vh - 2 * var(--page-vertical-padding));
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  border-radius: var(--start-page-radius);
  background-color: var(--light-color);
  overflow: hidden;
  z-index: 1;
}

.start-page-background-shape-one-wrapper {
  position: absolute;
  top: calc(min(0px, 100vh - var(--start-page-background-shape-height)));
  left: calc(var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding));
  height: 0;
  min-height: 0;
  width: 0;
  min-width: 0;
  animation: startPageBackgroundShapeOneAnimation var(--start-page-background-shape-one-animation-duration) linear forwards;
  overflow: hidden;
}
@keyframes startPageBackgroundShapeOneAnimation {
  0% {
    height: 0;
    min-height: 0;
    width: 0;
    min-width: 0;
  }
  70% {
    height: calc(var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: calc(0.4 * var(--start-page-background-shape-one-width-over-height-ratio) * var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(0.4 * var(--start-page-background-shape-one-width-over-height-ratio) * var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
  }
  100% {
    height: calc(var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: calc(1 * var(--start-page-background-shape-one-width-over-height-ratio) * var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(1 * var(--start-page-background-shape-one-width-over-height-ratio) * var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
  }
}
.start-page-background-shape-one {
  height: calc(var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: auto;
  min-width: auto;
}
.start-page-background-shape-two-wrapper {
  position: absolute;
  top: calc(
    min(0px, 100vh - var(--start-page-background-shape-height)) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height))
    * var(--start-page-background-shape-one-two-height-difference-ratio)
  );
  left: calc(
    var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
    * (1 - var(--start-page-background-shape-one-two-width-difference-ratio))
  );
  height: calc(var(--start-page-background-shape-two-animation-height-start-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-two-animation-height-start-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: 0;
  min-width: 0;
  animation: startPageBackgroundShapeTwoAnimation var(--start-page-background-shape-two-animation-duration) var(--start-page-background-shape-one-animation-duration) linear forwards;
  overflow: hidden;
}
@keyframes startPageBackgroundShapeTwoAnimation {
  0% {
    height: calc(var(--start-page-background-shape-two-animation-height-start-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-two-animation-height-start-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: 0;
    min-width: 0;
  }
  70% {
    height: calc((0.4 + var(--start-page-background-shape-two-animation-height-start-ratio)) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc((0.4 + var(--start-page-background-shape-two-animation-height-start-ratio)) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: calc(0.7 * var(--start-page-background-shape-two-width-over-height-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(0.7 * var(--start-page-background-shape-two-width-over-height-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
  }
  100% {
    height: calc(var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: calc(1 * var(--start-page-background-shape-two-width-over-height-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(1 * var(--start-page-background-shape-two-width-over-height-ratio) * var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
  }
}
.start-page-background-shape-two {
  height: calc(var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: auto;
  min-width: auto;
}
.start-page-background-shape-three-wrapper {
  position: absolute;
  top: calc(
    min(0px, 100vh - var(--start-page-background-shape-height)) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height))
    * var(--start-page-background-shape-one-two-height-difference-ratio) +
    (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height))
    * (1 - var(--start-page-background-shape-two-three-height-difference-ratio))
  );
  left: calc(
    var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
    * (1 - var(--start-page-background-shape-one-two-width-difference-ratio)) +
    (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-width-over-height-ratio)
    * var(--start-page-background-shape-two-three-width-difference-ratio)
  );
  height: 0;
  min-height: 0;
  width: fit-content;
  min-width: fit-content;
  animation: startPageBackgroundShapeThreeAnimation  var(--start-page-background-shape-three-animation-duration) calc(var(--start-page-background-shape-two-animation-duration) + var(--start-page-background-shape-one-animation-duration)) linear forwards;
  overflow: hidden;
}
@keyframes startPageBackgroundShapeThreeAnimation {
  0% {
    height: 0;
    min-height: 0;
  }
  100% {
    height: calc(var(--start-page-background-shape-three-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-three-over-total-height-ratio) * var(--start-page-background-shape-height));  
  }
}
.start-page-background-shape-three {
  height: calc(var(--start-page-background-shape-three-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-three-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: auto;
  min-width: auto;
}
.start-page-background-shape-four-wrapper {
  position: absolute;
  top: calc(
    min(0px, 100vh - var(--start-page-background-shape-height)) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height))
    * var(--start-page-background-shape-one-two-height-difference-ratio) +
    (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height))
    * (1 - var(--start-page-background-shape-two-three-height-difference-ratio)) +
    var(--start-page-background-shape-three-over-total-height-ratio) * var(--start-page-background-shape-height)
    * (1 - var(--start-page-background-shape-three-four-height-difference-ratio))
  );
  left: calc(
    var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
    * (1 - var(--start-page-background-shape-one-two-width-difference-ratio)) +
    (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-width-over-height-ratio)
    * var(--start-page-background-shape-two-four-width-difference-ratio) +
    var(--start-page-background-shape-four-width-over-height-ratio) * var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height)
  );
  height: fit-content;
  min-height: fit-content;
  width: 0;
  min-width: 0;
  animation: startPageBackgroundShapeFourAnimation  var(--start-page-background-shape-four-animation-duration) calc(var(--start-page-background-shape-three-animation-duration) + var(--start-page-background-shape-two-animation-duration) + var(--start-page-background-shape-one-animation-duration)) linear forwards;
  overflow: hidden;
  direction: rtl;
}
@keyframes startPageBackgroundShapeFourAnimation {
  0% {
    width: 0;
    min-width: 0;
    left: calc(
      var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
      (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
      * (1 - var(--start-page-background-shape-one-two-width-difference-ratio)) +
      (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-width-over-height-ratio)
      * var(--start-page-background-shape-two-four-width-difference-ratio) +
      var(--start-page-background-shape-four-width-over-height-ratio) * var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height)
    );
    border-top-left-radius: 50%;
  }
  80% {
    width: calc(var(--start-page-background-shape-four-width-over-height-ratio) * var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(var(--start-page-background-shape-four-width-over-height-ratio) * var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height));  
    left: calc(
      var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
      (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
      * (1 - var(--start-page-background-shape-one-two-width-difference-ratio)) +
      (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-width-over-height-ratio)
      * var(--start-page-background-shape-two-four-width-difference-ratio)
    );
    border-top-left-radius: 50%;
  }
  100% {
    width: calc(var(--start-page-background-shape-four-width-over-height-ratio) * var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(var(--start-page-background-shape-four-width-over-height-ratio) * var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height));  
    left: calc(
      var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
      (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
      * (1 - var(--start-page-background-shape-one-two-width-difference-ratio)) +
      (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-width-over-height-ratio)
      * var(--start-page-background-shape-two-four-width-difference-ratio)
    );
    border-top-left-radius: 0%;
  }
}
.start-page-background-shape-four {
  height: calc(var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-four-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: auto;
  min-width: auto;
}
.start-page-background-shape-five-wrapper {
  position: absolute;
  top: calc(
    min(0px, 100vh - var(--start-page-background-shape-height)) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height))
    * var(--start-page-background-shape-one-two-height-difference-ratio) +
    (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-five-height-difference-ratio)
  );
  left: calc(
    var(--page-horizontal-padding) + 2 * var(--header-horizontal-padding) +
    (var(--start-page-background-shape-one-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-one-width-over-height-ratio)
    * (1 - var(--start-page-background-shape-one-two-width-difference-ratio)) +
    (var(--start-page-background-shape-two-over-total-height-ratio) * var(--start-page-background-shape-height)) * var(--start-page-background-shape-two-width-over-height-ratio)
    * var(--start-page-background-shape-two-five-width-difference-ratio)
  );
  height: calc(var(--start-page-background-shape-five-animation-height-start-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-five-animation-height-start-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: 0;
  min-width: 0;
  animation: startPageBackgroundShapeFiveAnimation  var(--start-page-background-shape-five-animation-duration) calc(var(--start-page-background-shape-four-animation-duration) + var(--start-page-background-shape-three-animation-duration) + var(--start-page-background-shape-two-animation-duration) + var(--start-page-background-shape-one-animation-duration)) linear forwards;
  overflow: hidden;
}
@keyframes startPageBackgroundShapeFiveAnimation {
  0% {
    height: calc(var(--start-page-background-shape-five-animation-height-start-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-five-animation-height-start-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: 0;
    min-width: 0;
  }
  50% {
    height: calc(var(--start-page-background-shape-five-animation-height-start-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-five-animation-height-start-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: calc(0.5 * var(--start-page-background-shape-five-width-over-height-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(0.5 * var(--start-page-background-shape-five-width-over-height-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
  }
  100% {
    height: calc(var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-height: calc(var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    width: calc(var(--start-page-background-shape-five-width-over-height-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
    min-width: calc(var(--start-page-background-shape-five-width-over-height-ratio) * var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
  }
}
.start-page-background-shape-five {
  height: calc(var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
  min-height: calc(var(--start-page-background-shape-five-over-total-height-ratio) * var(--start-page-background-shape-height));
  width: auto;
  min-width: auto;
}

.start-page-wrapper {
  position: relative;
  height: calc(100vh - 2 * var(--page-vertical-padding));
  min-height: calc(100vh - 2 * var(--page-vertical-padding));
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  padding-top: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: var(--start-page-radius);
}

.start-page-left-top-radius, .start-page-right-top-radius {
  position: fixed;
  height: var(--start-page-radius);
  min-height: var(--start-page-radius);
  width: var(--start-page-radius);
  min-width: var(--start-page-radius);
  top: calc(var(--header-height) + var(--page-vertical-padding));
  left: var(--page-horizontal-padding);
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
  top: calc(var(--header-height) + var(--page-vertical-padding));
  left: var(--page-horizontal-padding);
}
.start-page-right-top-radius {
  left: unset;
  right: var(--page-horizontal-padding);
}
.start-page-left-top-radius-inner-circle, .start-page-right-top-radius-inner-circle {
  height: calc(2 * var(--start-page-radius));
  min-height: calc(2 * var(--start-page-radius));
  width: calc(2 * var(--start-page-radius));
  min-width: calc(2 * var(--start-page-radius));
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 1000px var(--background-color);
}
.start-page-right-top-radius-inner-circle {
  transform: translate(-50%, 0);
}

.start-page-content {
  height: calc(100vh - 2 * var(--page-vertical-padding) - var(--header-height));
  min-height: calc(100vh - 2 * var(--page-vertical-padding) - var(--header-height));
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--header-horizontal-padding);
  border-radius: var(--start-page-radius);
  background-color: transparent;
  z-index: 2;
}

.start-page-external-link-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}
.start-page-external-link-wrapper:hover .start-page-external-link-each-line .start-page-external-link-each-icon {
  transform: translate(10%, -20%);
}
.start-page-external-klein-wrapper {
  margin-bottom: var(--start-page-external-klein-margin-bottom);
}
.start-page-external-klein-wrapper .start-page-external-link-each-title {
  color: var(--link-dark-color);
  font-family: 'Igra Sans', sans-serif;
}
.start-page-external-klein-wrapper .start-page-external-link-each-icon {
  fill: var(--link-dark-color);
}
.start-page-external-events-wrapper {
  margin-top: var(--start-page-external-events-margin-top);
  margin-left: var(--start-page-external-events-margin-left);
}
.start-page-external-events-wrapper .start-page-external-link-each-title {
  background: -webkit-linear-gradient(var(--bright-color-gradient-one) 30%, var(--bright-color-gradient-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.start-page-external-events-wrapper .start-page-external-link-each-icon {
  fill: var(--bright-color-gradient-two);
}
.start-page-external-link-each-line {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
.start-page-external-link-each-title {
  color: var(--dark-text-color);
  font-weight: 400;
  font-size: var(--start-page-external-link-title-font-size);
}
.start-page-external-link-each-icon {
  width: var(--start-page-external-link-icon-width);
  min-width: var(--start-page-external-link-icon-width);
  height: auto;
  margin-left: var(--start-page-external-link-icon-margin-left);
  transform: translateY(-10%);
  transition: var(--start-page-external-link-hover-transition-duration);
}
.start-page-external-link-each-text {
  color: var(--dark-text-color);
  font-weight: 300;
  font-size: var(--start-page-external-link-text-font-size);
}

.start-page-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  margin-left: calc(-1 * var(--start-page-header-font-size) * .07);
}
.start-page-header-each-line {
  font-size: var(--start-page-header-font-size);
  margin-bottom: var(--start-page-header-gap);
  display: flex;
}
.start-page-header-each-line span {
  font-family: 'Igra Sans', sans-serif;
  font-weight: 500;
  color: var(--dark-text-color);
  height: calc(var(--start-page-header-font-size) * .7);
  min-height: calc(var(--start-page-header-font-size) * .7);
  min-width: var(--start-page-header-font-space);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.start-page-last-line-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: flex-end;
}
.start-page-last-line-wrapper .start-page-header-each-line {
  margin-bottom: calc(-1 * var(--start-page-description-font-size) / 2) !important;
}
.start-page-description {
  font-size: var(--start-page-description-font-size);
  font-weight: 300;
  color: var(--dark-text-color);
  max-width: var(--start-page-description-max-width);
  margin-left: var(--start-page-header-gap);
}

.start-page-social-media-wrapper {
  position: absolute;
  height: fit-content;
  min-height: fit-content;
  width: var(--start-page-social-media-button-width);
  min-width: var(--start-page-social-media-button-width);
  right: var(--start-page-social-media-margin-right);
  display: flex;
  flex-direction: column;
}
.start-page-social-media-each-button {
  height: fit-content;
  min-height: fit-content;
  width: var(--start-page-social-media-button-width);
  min-width: var(--start-page-social-media-button-width);
  margin: calc(var(--start-page-social-media-button-gap) / 2) 0;
  opacity: .8;
  cursor: pointer;
}
.start-page-social-media-each-button:hover {
  opacity: 1;
}
.start-page-social-media-button-each-icon {
  fill: var(--dark-text-color);
  height: auto;
  min-height: auto;
  width: var(--start-page-social-media-button-width);
  min-width: var(--start-page-social-media-button-width);
}

.portfolio-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--page-vertical-padding) + var(--content-gap));
  z-index: 3;
}

.portfolio-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  flex-direction: column;
}
.portfolio-header-top-line {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
}
.portfolio-header-top-line-text {
  height: fit-content;
  min-height: fit-content;
  width: var(--portfolio-header-top-line-text-width);
  min-width: var(--portfolio-header-top-line-text-width);
  font-weight: 600;
  font-size: var(--portfolio-header-font-size);
  background-color: var(--background-color);
  border-bottom-right-radius: var(--portfolio-curvature-border-radius);
  line-height: calc(1.6 * var(--portfolio-header-font-size));
  z-index: 2;
  padding-right: var(--portfolio-header-text-gap);
  padding-bottom: 5px;
  color: var(--dark-text-color);
}
.portfolio-header-top-line-color-space {
  height: 100%;
  min-height: 100%;
  width: var(--portfolio-curvature-border-radius);
  min-width: var(--portfolio-curvature-border-radius);
  background-color: var(--dark-text-color);
  margin-left: calc(-1 * var(--portfolio-curvature-border-radius));
}
.portfolio-header-top-line-color {
  height: 100%;
  min-height: 100%;
  width: calc(100vw - var(--portfolio-header-top-line-text-width) - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - var(--portfolio-header-top-line-text-width) - 2 * var(--page-horizontal-padding));
  background-color: var(--dark-text-color);
  border-top-left-radius: var(--portfolio-curvature-border-radius);
  border-top-right-radius: var(--portfolio-curvature-border-radius);
}
.portfolio-header-bottom-line {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
}
.portfolio-header-bottom-line-text {
  height: fit-content;
  min-height: fit-content;
  width: var(--portfolio-header-bottom-line-text-width);
  min-width: var(--portfolio-header-bottom-line-text-width);
  font-weight: 600;
  font-size: var(--portfolio-header-font-size);
  line-height: calc(1.2 * var(--portfolio-header-font-size));
  background-color: var(--background-color);
  border-bottom-right-radius: var(--portfolio-curvature-border-radius);
  line-height: calc(1.6 * var(--portfolio-header-font-size));
  z-index: 2;
  color: var(--link-light-color);
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.portfolio-header-bottom-line-link {
  color: var(--link-light-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.portfolio-header-bottom-line-link-text {
  border-bottom: 1.5px solid var(--link-light-color);
  line-height: calc(1.2 * var(--portfolio-header-font-size));
  margin-bottom: -1px;
}
.portfolio-header-bottom-line-link-icon {
  fill: var(--link-light-color);
  height: auto;
  min-height: auto;
  width: var(--portfolio-header-bottom-line-link-icon-width);
  min-width: var(--portfolio-header-bottom-line-link-icon-width);
  margin-left: 8px;
}
.portfolio-header-bottom-line-color-space {
  height: 100%;
  min-height: 100%;
  width: var(--portfolio-curvature-border-radius);
  min-width: var(--portfolio-curvature-border-radius);
  background-color: var(--dark-text-color);
  margin-left: calc(-1 * var(--portfolio-curvature-border-radius));
}
.portfolio-header-bottom-line-color {
  height: 100%;
  min-height: 100%;
  width: calc(100vw - var(--portfolio-header-bottom-line-text-width) - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - var(--portfolio-header-bottom-line-text-width) - 2 * var(--page-horizontal-padding));
  background-color: var(--dark-text-color);
  border-top-left-radius: var(--portfolio-curvature-border-radius);
}

.portfolio-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  flex-direction: column;
  background-color: var(--dark-text-color);
  border-radius: var(--portfolio-curvature-border-radius);
  border-top-right-radius: 0;
}
.portfolio-content-project-wrapper-by-five {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.portfolio-content-project-each-line {

}

.portfolio-content-each-project-wrapper {

}
.portfolio-content-each-project-logo {

}
.portfolio-content-each-project-content-wrapper {

}
.portfolio-content-each-project-content-name {

}
.portfolio-content-each-project-content-apr {

}

.portfolio-content-all-projects-link {

}
.portfolio-content-all-projects-link-icon {

}
.portfolio-content-all-projects-link-text {

}

.services-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--page-vertical-padding) + var(--content-gap) / 2);
  padding: calc(var(--content-gap) / 2) var(--page-horizontal-padding);
  background-color: var(--light-color);
  border-radius: var(--services-curvature-border-radius);
  z-index: 3;
}

.services-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.services-header-subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: var(--services-header-subtitle-font-size);
  color: var(--dark-text-color);
}
.services-header-title {
  font-family: 'Quality Sunrise', Georgia, sans-serif;
  font-size: var(--services-header-title-font-size);
  color: var(--dark-text-color);
  font-weight: normal;
  font-style: normal;
}

.services-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--content-gap) / 2);
}

.services-content-each-line-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.services-content-each-service-wrapper {
  height: calc(min(
    var(--services-each-max-width),
    (100vw - 4 * var(--page-horizontal-padding) - 2 * var(--services-each-gap)) * 0.8 / 3
  ));
  min-height: calc(min(
    var(--services-each-max-width),
    (100vw - 4 * var(--page-horizontal-padding) - 2 * var(--services-each-gap)) * 0.8 / 3
  ));
  width: calc(min(
    var(--services-each-max-width),
    (100vw - 4 * var(--page-horizontal-padding) - 2 * var(--services-each-gap)) * 0.8 / 3
  ));
  min-width: calc(min(
    var(--services-each-max-width),
    (100vw - 4 * var(--page-horizontal-padding) - 2 * var(--services-each-gap)) * 0.8 / 3
  ));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--services-each-padding);
  margin: calc(var(--services-each-gap) / 2);
  border: 1px solid var(--dark-text-color);
  border-radius: var(--services-each-border-radius);
}
.services-content-each-service-title {
  font-family: 'Quality Sunrise', Georgia, sans-serif;
  font-size: var(--services-each-title-font-size);
  color: var(--dark-text-color);
  line-height: calc(1.4 * var(--services-each-title-font-size));
}
.services-content-each-service-description {
  font-size: var(--services-each-text-font-size);
  color: var(--dark-text-color);
  font-style: italic;
  font-weight: 300;
  line-height: calc(1.3 * var(--services-each-text-font-size));
  margin-top: var(--services-each-text-margin-top);
}
.services-content-each-service-description-button {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.services-content-each-service-description-link {
  border-bottom: 1px solid var(--dark-text-color);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.services-content-each-service-description-button:hover, .services-content-each-service-description-link:hover {
  color: var(--link-dark-color);
}

.services-content-description-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  max-width: var(--services-content-description-max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}
.services-content-description-title {
  font-weight: 400;
  font-style: italic;
  font-size: var(--services-content-description-title-font-size);
  color: var(--dark-text-color);
  line-height: calc(1.2 * var(--services-content-description-title-font-size));
}
.services-content-description-subtitle {
  font-weight: 400;
  font-size: var(--services-content-description-subtitle-font-size);
  color: var(--dark-text-color);
  line-height: calc(1.3 * var(--services-content-description-subtitle-font-size));
  margin-top: var(--services-content-description-subtitle-margin-top);
}
.services-content-description-button {
  height: var(--services-content-description-button-height);
  min-height: var(--services-content-description-button-height);
  width: var(--services-content-description-button-width);
  min-width: var(--services-content-description-button-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--services-content-description-button-horizontal-padding);
  background-color: transparent;
  border: 1px solid var(--dark-text-color);
  border-radius: calc(var(--services-content-description-button-height) / 2);
  cursor: pointer;
  text-decoration: none;
  margin-top: var(--services-content-description-button-margin-top);
}
.services-content-description-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--services-content-description-button-text-font-size);
  color: var(--dark-text-color);
}
.services-content-description-button-icon {
  width: var(--services-content-description-button-icon-width);
  min-width: var(--services-content-description-button-icon-width);
  height: auto;
}