//- blockquote.twitter-tweet(data-link="transparent")
//-   p(lang='en' dir='ltr')
//-     | What a year it has been! 2023 was a busy year in the
//-     a(href='https://twitter.com/hashtag/blockchain?src=hash&ref_src=twsrc%5Etfw') #blockchain
//-     |  ecosystem, with many events and important developments. Join us to have a glance at how our year passed and developed
//-     a(href='https://twitter.com/klein_run?ref_src=twsrc%5Etfw') @klein_run
//-     |  .
//-     a(href='https://t.co/rGIOC6nbTd') pic.twitter.com/rGIOC6nbTd
//-   | &mdash; node101 (@node_101)
//-   a(href='https://twitter.com/node_101/status/1752396129721802789?ref_src=twsrc%5Etfw') January 30, 2024
//- script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
