.contributions-content-articles-links-wrapper
  .contributions-content-articles-links-each-line-wrapper
    svg.contributions-content-articles-each-small-link(viewbox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg' style='margin-left: auto; border-color: var(--light-color); background-color: var(--light-color);')
      ellipse(cx='22.8736' cy='23' rx='22.8736' ry='23' fill='#DFE5FF')
      g(clip-path='url(#medium)')
        path(d='M18.2305 17.0898C21.4588 17.0898 24.0756 19.7249 24.0756 22.9752C24.0756 26.2255 21.4586 28.8604 18.2305 28.8604C15.0025 28.8604 12.3853 26.2255 12.3853 22.9752C12.3853 19.7249 15.0023 17.0898 18.2305 17.0898ZM27.565 17.4346C29.1791 17.4346 30.4876 19.915 30.4876 22.9752H30.4878C30.4878 26.0347 29.1793 28.5158 27.5652 28.5158C25.9511 28.5158 24.6426 26.0347 24.6426 22.9752C24.6426 19.9158 25.9509 17.4346 27.565 17.4346ZM32.0827 18.0117C32.6502 18.0117 33.1106 20.2339 33.1106 22.9752C33.1106 25.7157 32.6504 27.9387 32.0827 27.9387C31.5149 27.9387 31.055 25.7163 31.055 22.9752C31.055 20.2341 31.5151 18.0117 32.0827 18.0117Z' fill='#2C202A')
      defs
        clippath#medium
          rect(width='20.7253' height='20.7253' fill='#FFFFF' transform='translate(11.6271 12.6372)')
    a.contributions-content-articles-each-small-link(style='border-color: var(--link-light-color)')
      svg(width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M13.4856 0.457031L12.9295 4.62183L15.8867 4.64692V7.13075L12.5757 7.10566L12.0449 10.9192H15.4317L15.4064 13.403H11.7163L11.1603 17.5427H8.65809L9.21414 13.3779H5.6504L5.09436 17.5427H2.59216L3.1482 13.3779L0.115234 13.3529V10.869L3.50205 10.8941L4.00754 7.08057H0.570179V4.59674H4.36139L4.91743 0.457031H7.41963L6.86359 4.62183H10.4273L10.9834 0.457031H13.4856ZM9.56798 10.9192L10.0735 7.10566L6.50974 7.08057L6.00424 10.8941L9.56798 10.9192Z' fill='var(--link-light-color)')
    a.contributions-content-articles-each-big-link(style='margin-left: calc(var(--contributions-content-articles-each-link-height) * 2.75); border-color: rgba(255, 130, 92, 1);')
      .contributions-content-articles-each-link-text(style='color: rgba(255, 130, 92, 1);')= __('Lorem ipsum dolor')
  .contributions-content-articles-links-each-line-wrapper
    a.contributions-content-articles-each-big-link(style='margin-left: auto; border-color: rgba(205, 238, 211, 1); background-color: rgba(205, 238, 211, 1);')
      .contributions-content-articles-each-link-text(style='color: rgba(69, 138, 5, 1);')= __('Lorem ipsum dolor')
    a.contributions-content-articles-each-small-link(style='border-color: rgba(255, 226, 217, 1); background-color: rgba(255, 226, 217, 1);')
      svg(width='20' height='20' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1.13288 11.4786C1.11148 11.4988 0.947912 12.1179 0.769514 12.8543C0.591115 13.5907 0.472416 14.2013 0.505548 14.2111C0.53878 14.2208 1.07756 14.297 1.70289 14.3803C2.95865 14.5477 4.42483 14.953 5.3418 15.386C8.19955 16.7358 10.0918 19.1576 10.5836 22.0949L10.7089 22.8429L11.9713 22.8429L13.2338 22.8429L13.3537 22.1649C14.1391 17.7234 17.6396 14.8277 22.8781 14.286C23.2202 14.2506 23.5 14.2084 23.5 14.1921C23.5 14.0423 22.8695 11.5602 22.8195 11.5133C22.7834 11.4793 22.4627 11.5046 22.107 11.5695C18.1683 12.2877 14.9632 14.3442 13.623 17.013L13.3016 17.6531L13.2764 4.48898L13.2604 0.500001L10.7055 0.5L10.6895 4.5104L10.6642 17.6435L10.2326 16.8353C9.11293 14.7386 6.91664 13.0787 3.96864 12.1011C3.12879 11.8226 1.21407 11.4023 1.13288 11.4786Z' fill='#FF3A3A')
  .contributions-content-articles-links-each-line-wrapper
    a.contributions-content-articles-each-big-link(style='margin-left: auto; border-color: rgba(231, 223, 255, 1);')
      svg(width='148' height='22' viewBox='0 0 148 22' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M137.674 21.3206C137.693 21.3401 138.255 21.4895 138.924 21.6524C139.593 21.8152 140.148 21.9236 140.157 21.8934C140.166 21.863 140.235 21.3711 140.311 20.8001C140.463 19.6536 140.831 18.3149 141.225 17.4777C142.451 14.8684 144.652 13.1407 147.32 12.6917L148 12.5773V11.4247V10.2719L147.384 10.1625C143.348 9.44532 140.717 6.24921 140.225 1.46622C140.193 1.15389 140.155 0.898437 140.14 0.898437C140.004 0.898437 137.748 1.47412 137.706 1.51972C137.675 1.5527 137.698 1.8455 137.757 2.17027C138.41 5.76655 140.278 8.69295 142.703 9.91654L143.285 10.2101L131.324 10.233L0 10.2445L0 12.5773L131.343 12.595L143.276 12.6181L142.541 13.0122C140.636 14.0345 139.128 16.0398 138.24 18.7314C137.987 19.4982 137.605 21.2465 137.674 21.3206Z' fill='rgba(231, 223, 255, 1)')
    a.contributions-content-articles-each-big-link(style='border-color: var(--secondary-light-color); background-color: var(--secondary-light-color);')
      .contributions-content-articles-each-link-text(style='color: rgba(121, 11, 207, 1);')= __('Lorem ipsum dolor')
.contributions-content-articles-each-text= __('Articles')
.contributions-content-articles-each-text= __('Listening and watching is nice, but there is nothing like reading a long detailed article to understand a topic to its fullest. Follow our articles to learn about the breaking changes in blockchain and become a true expert on decentralization.')