.contributions-content-podcasts-images-wrapper
  img.contributions-content-podcasts-vertical-image(src='img/contributions/podcasts/left-image.png' alt='Podcasts')
  a.contributions-content-podcasts-each-rectangle-link-wrapper(href='https://open.spotify.com/show/5qQyR3JUUOYYfSJsulb9A7' target='_blank')
    img.contributions-content-podcasts-each-rectangle-image(src='img/contributions/podcasts/podcast-link.png' alt='Podcasts')
    .contributions-content-podcasts-each-rectangle-text= __('Podcasts')
  a.contributions-content-podcasts-each-rectangle-link-wrapper(href='https://open.spotify.com/show/0ocAj5RGbBVXcABbGV2ZC9' target='_blank')
    img.contributions-content-podcasts-each-rectangle-image(src='img/contributions/podcasts/podcast-tr-link.png' alt='TR Podcasts')
    .contributions-content-podcasts-each-rectangle-text= __('Turkish Podcasts')
.contributions-content-podcasts-title-wrapper
  svg.contributions-content-podcasts-title-icon(viewbox='0 0 34 33' xmlns='http://www.w3.org/2000/svg')
    path(d='M16.9612 0C7.84857 0 0.460938 7.38743 0.460938 16.5001C0.460938 25.6132 7.84857 33 16.9612 33C26.0749 33 33.4617 25.6132 33.4617 16.5001C33.4617 7.38802 26.0749 0.000788135 16.961 0.000788135L16.9612 0ZM24.5282 23.7979C24.2326 24.2826 23.5982 24.4363 23.1135 24.1387C19.2393 21.7724 14.3623 21.2364 8.61877 22.5487C8.0653 22.6748 7.51361 22.328 7.3875 21.7743C7.26081 21.2207 7.60621 20.669 8.16106 20.5429C14.4465 19.1063 19.8379 19.7252 24.1873 22.3832C24.672 22.6807 24.8257 23.3132 24.5282 23.7979ZM26.5478 19.3045C26.1754 19.9104 25.3833 20.1015 24.7784 19.7291C20.3431 17.0023 13.5823 16.2128 8.33623 17.8053C7.65586 18.0108 6.93728 17.6273 6.73079 16.9482C6.52587 16.2678 6.9095 15.5506 7.58868 15.3437C13.5811 13.5255 21.0308 14.4062 26.1241 17.5361C26.729 17.9085 26.9202 18.7004 26.5478 19.3045ZM26.7212 14.6261C21.4032 11.4674 12.6292 11.177 7.55183 12.718C6.7365 12.9653 5.87427 12.505 5.62719 11.6897C5.38011 10.874 5.83999 10.0123 6.65591 9.76446C12.4844 7.99509 22.1736 8.33694 28.2963 11.9716C29.0312 12.4069 29.2716 13.354 28.8361 14.0864C28.4027 14.8198 27.4529 15.0615 26.7219 14.6261H26.7212Z')
  .contributions-content-podcasts-title-text= __('Spotify Podcasts')
.contributions-content-podcasts-text= __('Crypto news, event announcements, technological developments, real-life applications, and much more to explore in the node101 Twitter account. Join now to support our community.')