.contributions-content-relayers-image-wrapper
  img.contributions-content-relayers-image(src='/img/contributions/relayers/chains.png' alt='IBC Protocol Relayers')
.contributions-content-relayers-each-text= __('IBC Protocol Relayers')
.contributions-content-relayers-each-text= __('node101 has more than 35 IBC protocol relayers, creating bridges between different Cosmos SDK chains. Relayers are a fundamental part of the modular blockchain ecosystem, served by validators without any economical expectation.')