.contributions-content-videos-thumbnails-wrapper
  a.contributions-content-videos-each-thumbnail-wrapper(href='https://www.youtube.com/watch?v=1' target='_blank')
    .contributions-content-videos-each-thumbnail-button-wrapper
      svg()
        path()
      .contributions-content-videos-each-thumbnail-button-top-radius
        .contributions-content-videos-each-thumbnail-button-top-radius-inner-circle
      .contributions-content-videos-each-thumbnail-button-left-radius
        .contributions-content-videos-each-thumbnail-button-left-radius-inner-circle
    img.contributions-content-videos-each-thumbnail-image(src='https://i.ytimg.com/vi/xLM_67AjNt0/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg%3D%3D&rs=AOn4CLDmH83AADumEvLSMF_wnv2dUv9opw' alt='Video 1')
    .contributions-content-videos-each-thumbnail-text= __('Video 1')
