:root {
  --header-height: 80px;
  --header-vertical-padding: 15px;
  --header-horizontal-padding: 77px;
  --header-gap: 50px;
  --header-logo-width: 62px;
  --header-menu-gap: 30px;
  --header-stake-with-node101-button-width: 145px;
  --header-stake-with-node101-button-height: 45px;
  --header-stake-with-node101-button-horizontal-padding: 17px;
  --header-stake-with-node101-button-background-blue: rgba(177, 199, 255, 1);
  --header-stake-with-node101-button-background-red: rgba(255, 125, 125, 1);
  --header-stake-with-node101-button-background-yellow: rgba(255, 226, 217, 1);
  --header-stake-with-node101-button-background-pink: rgba(255, 170, 180, 1);
  --header-stake-with-node101-button-icon-width: 13px;
  --header-change-language-button-height: 25px;
  --header-change-language-button-width: 40px;
  --header-change-language-button-icon-width: 14px;
  --header-change-language-button-menu-height: 50px;
  --each-header-change-language-button-menu-text-height: 30px;
}

.all-wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  overflow: hidden;
}

.header-wrapper {
  position: fixed;
  top: var(--page-vertical-padding);
  left: var(--page-horizontal-padding);
  height: var(--header-height);
  min-height: var(--header-height);
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 999;
}

.header-logo-wrapper {
  height: 100%;
  min-height: 100%;
  width: calc(2 * var(--header-horizontal-padding) + var(--header-logo-width));
  min-width: calc(2 * var(--header-horizontal-padding) + var(--header-logo-width));
  display: flex;
  align-items: center;
  padding: 0 var(--header-horizontal-padding);
  background-color: var(--background-color);
  border-bottom-right-radius: calc(var(--header-height) - 10px);
}
.header-logo-link {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  text-decoration: none;
  cursor: pointer;
}
.header-logo {
  height: auto;
  min-height: auto;
  width: var(--header-logo-width);
  min-width: var(--header-logo-width);
}

.header-buttons-wrapper {
  height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  min-height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  width: calc(100vw - 2 * var(--page-horizontal-padding) - 3 * var(--header-horizontal-padding) - 2 * var(--header-gap) - var(--header-logo-width) - (2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width)));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding) - 3 * var(--header-horizontal-padding) - 2 * var(--header-gap) - var(--header-logo-width) - (2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width)));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color);
  border-radius: calc((var(--header-height) - 2 * var(--header-vertical-padding)) / 2);
}
.each-header-button {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  text-decoration: none;
  cursor: pointer;
}
.each-header-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-text-color);
}

.header-menu-wrapper {
  height: 100%;
  min-height: 100%;
  width: calc(2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width) + var(--header-horizontal-padding));
  min-width: calc(2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width) + var(--header-horizontal-padding));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--header-menu-gap);
  padding-right: var(--header-horizontal-padding);
  background-color: var(--background-color);
  border-bottom-left-radius: calc(var(--header-height) - 10px);
}

.header-stake-with-node101-button {
  position: relative;
  height: var(--header-stake-with-node101-button-height);
  min-height: var(--header-stake-with-node101-button-height);
  width: var(--header-stake-with-node101-button-width);
  min-width: var(--header-stake-with-node101-button-width);
  border-radius: calc(var(--header-stake-with-node101-button-height) / 2);
  text-decoration: none;
  background-color: var(--light-color);
  overflow: hidden;
  margin-left: 10px;
}

.header-stake-with-node101-button-background {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--header-stake-with-node101-button-height);
  min-height: var(--header-stake-with-node101-button-height);
  width: var(--header-stake-with-node101-button-width);
  min-width: var(--header-stake-with-node101-button-width);
  background-color: transparent;
}
.header-stake-with-node101-button-background-each-bubble-left-blue {
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-30%);
  width: calc(0.33 * var(--header-stake-with-node101-button-width));
  min-width: calc(0.33 * var(--header-stake-with-node101-button-width));
  height: calc(0.33 * var(--header-stake-with-node101-button-width));
  min-height: calc(0.33 * var(--header-stake-with-node101-button-width));
  background-color: var(--header-stake-with-node101-button-background-blue);
  filter: blur(20px);
  z-index: 2;
}
.header-stake-with-node101-button-background-each-bubble-left-red {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, -25%);
  width: calc(0.40 * var(--header-stake-with-node101-button-width));
  min-width: calc(0.40 * var(--header-stake-with-node101-button-width));
  height: calc(0.40 * var(--header-stake-with-node101-button-width));
  min-height: calc(0.40 * var(--header-stake-with-node101-button-width));
  background-color: var(--header-stake-with-node101-button-background-red);
  filter: blur(13px);
  z-index: 1;
  animation: headerStakeWithnode101RedBackgroundBubbleAnimation 3s infinite 2s;
  -webkit-animation: headerStakeWithnode101RedBackgroundBubbleAnimation 2.5s infinite 2s;
  -moz-animation: headerStakeWithnode101RedBackgroundBubbleAnimation 2.5s infinite 2s;
}
@keyframes headerStakeWithnode101RedBackgroundBubbleAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes headerStakeWithnode101RedBackgroundBubbleAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.header-stake-with-node101-button-background-each-bubble-right-blue {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -10%);
  width: calc(0.30 * var(--header-stake-with-node101-button-width));
  min-width: calc(0.30 * var(--header-stake-with-node101-button-width));
  height: calc(0.30 * var(--header-stake-with-node101-button-width));
  min-height: calc(0.30 * var(--header-stake-with-node101-button-width));
  background-color: var(--header-stake-with-node101-button-background-blue);
  filter: blur(6.4px);
  z-index: 1;
}
.header-stake-with-node101-button-background-each-bubble-right-yellow {
  position: absolute;
  top: 5px;
  right: 15px;
  width: calc(0.20 * var(--header-stake-with-node101-button-width));
  min-width: calc(0.20 * var(--header-stake-with-node101-button-width));
  height: calc(0.20 * var(--header-stake-with-node101-button-width));
  min-height: calc(0.20 * var(--header-stake-with-node101-button-width));
  background-color: var(--header-stake-with-node101-button-background-yellow);
  filter: blur(7px);
  z-index: 2;
  animation: headerStakeWithnode101YellowBackgroundBubbleAnimation 4s infinite;
  -webkit-animation: headerStakeWithnode101YellowBackgroundBubbleAnimation 3s infinite;
  -moz-animation: headerStakeWithnode101YellowBackgroundBubbleAnimation 3s infinite;
}
@keyframes headerStakeWithnode101YellowBackgroundBubbleAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes headerStakeWithnode101YellowBackgroundBubbleAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.header-stake-with-node101-button-background-each-bubble-right-pink {
  position: absolute;
  bottom: 0;
  right: 30px;
  transform: translate(0, 30%);
  width: calc(0.18 * var(--header-stake-with-node101-button-width));
  min-width: calc(0.18 * var(--header-stake-with-node101-button-width));
  height: calc(0.18 * var(--header-stake-with-node101-button-width));
  min-height: calc(0.18 * var(--header-stake-with-node101-button-width));
  background-color: var(--header-stake-with-node101-button-background-pink);
  filter: blur(8px);
  z-index: 3;
}

.header-stake-with-node101-button-content {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--header-stake-with-node101-button-height);
  min-height: var(--header-stake-with-node101-button-height);
  width: var(--header-stake-with-node101-button-width);
  min-width: var(--header-stake-with-node101-button-width);
  background-color: transparent;
  padding: 0 var(--header-stake-with-node101-button-horizontal-padding);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-stake-with-node101-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-text-color);
  margin-bottom: -2px;
}
.header-stake-with-node101-button-icon {
  height: auto;
  min-height: auto;
  width: var(--header-stake-with-node101-button-icon-width);
  min-width: var(--header-stake-with-node101-button-icon-width);
  fill: var(--dark-text-color);
}

.header-change-language-button {
  height: var(--header-change-language-button-height);
  min-height: var(--header-change-language-button-height);
  width: var(--header-change-language-button-width);
  min-width: var(--header-change-language-button-width);
  margin-left: auto;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  overflow: visible;
}

.header-change-language-button-content {
  height: var(--header-change-language-button-height);
  min-height: var(--header-change-language-button-height);
  width: var(--header-change-language-button-width);
  min-width: var(--header-change-language-button-width);
  display: flex;
  align-items: flex-start;
}
.header-change-language-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-size: 16px;
  color: var(--dark-text-color);
}
.header-change-language-button-icon {
  height: auto;
  min-height: auto;
  width: var(--header-change-language-button-icon-width);
  min-width: var(--header-change-language-button-icon-width);
  fill: var(--dark-text-color);
  transform: translateX(100%);
  margin-top: 1px;
}

.header-change-language-button-menu-wrapper {
  height: 0px;
  min-height: 0px;
  width: calc(var(--header-change-language-button-width) + 1.5 * var(--header-change-language-button-icon-width));
  min-width: calc(var(--header-change-language-button-width) + 1.5 * var(--header-change-language-button-icon-width));
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header-change-language-button-menu-wrapper-open-animation {
  animation: headerChangeLanguageButtonMenuOpenBottomAnimation 0.3s forwards;
}
.header-change-language-button-menu-wrapper-close-animation {
  animation: headerChangeLanguageButtonMenuCloseBottomAnimation 0.3s forwards;
}
@keyframes headerChangeLanguageButtonMenuOpenBottomAnimation {
  0% {
    height: 0px;
    min-height: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  10% {
    height: calc(0.03 * var(--header-change-language-button-menu-height));
    min-height: calc(0.03 * var(--header-change-language-button-menu-height));
  }
  20% {
    height: calc(0.1 * var(--header-change-language-button-menu-height));
    min-height: calc(0.1 * var(--header-change-language-button-menu-height));
  }
  30% {
    height: calc(0.19 * var(--header-change-language-button-menu-height));
    min-height: calc(0.19 * var(--header-change-language-button-menu-height));
  }
  40% {
    height: calc(0.30 * var(--header-change-language-button-menu-height));
    min-height: calc(0.30 * var(--header-change-language-button-menu-height));
  }
  50% {
    height: calc(0.44 * var(--header-change-language-button-menu-height));
    min-height: calc(0.44 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  60% {
    height: calc(0.60 * var(--header-change-language-button-menu-height));
    min-height: calc(0.60 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  70% {
    height: calc(0.72 * var(--header-change-language-button-menu-height));
    min-height: calc(0.72 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
  80% {
    height: calc(0.88 * var(--header-change-language-button-menu-height));
    min-height: calc(0.88 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
  }
  90% {
    height: calc(1 * var(--header-change-language-button-menu-height));
    min-height: calc(1 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  100% {
    height: calc(1 * var(--header-change-language-button-menu-height));
    min-height: calc(1 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}
@keyframes headerChangeLanguageButtonMenuCloseBottomAnimation {
  100% {
    height: 0px;
    min-height: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  90% {
    height: calc(0.03 * var(--header-change-language-button-menu-height));
    min-height: calc(0.03 * var(--header-change-language-button-menu-height));
  }
  80% {
    height: calc(0.1 * var(--header-change-language-button-menu-height));
    min-height: calc(0.1 * var(--header-change-language-button-menu-height));
  }
  70% {
    height: calc(0.19 * var(--header-change-language-button-menu-height));
    min-height: calc(0.19 * var(--header-change-language-button-menu-height));
  }
  60% {
    height: calc(0.30 * var(--header-change-language-button-menu-height));
    min-height: calc(0.30 * var(--header-change-language-button-menu-height));
  }
  50% {
    height: calc(0.44 * var(--header-change-language-button-menu-height));
    min-height: calc(0.44 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  40% {
    height: calc(0.60 * var(--header-change-language-button-menu-height));
    min-height: calc(0.60 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  30% {
    height: calc(0.72 * var(--header-change-language-button-menu-height));
    min-height: calc(0.72 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
  20% {
    height: calc(0.88 * var(--header-change-language-button-menu-height));
    min-height: calc(0.88 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
  }
  10% {
    height: calc(1 * var(--header-change-language-button-menu-height));
    min-height: calc(1 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  0% {
    height: calc(1 * var(--header-change-language-button-menu-height));
    min-height: calc(1 * var(--header-change-language-button-menu-height));
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}
.header-change-language-button-menu {
  height: var(--header-change-language-button-menu-height);
  min-height: var(--header-change-language-button-menu-height);
  width: calc(var(--header-change-language-button-width) + 1.5 * var(--header-change-language-button-icon-width));
  min-width: calc(var(--header-change-language-button-width) + 1.5 * var(--header-change-language-button-icon-width));
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--background-color);
  box-shadow: 0 0 5px rgba(44, 32, 42, 0.2);
}
@keyframes headerChangeLanguageButtonMenuOpenBottomRoundAnimation {
  0% {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  60% {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  70% {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  80% {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  90% {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  100% {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
.each-header-change-language-button-menu-text {
  height: var(--each-header-change-language-button-menu-text-height);
  min-height: var(--each-header-change-language-button-menu-text-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Igra Sans', sans-serif;
  font-size: 16px;
  color: var(--dark-text-color);
  cursor: pointer;
}