:root {
  --header-height: 80px;
  --header-vertical-padding: 15px;
  --header-gap: 20px;

  --header-logo-width: 62px;
  --header-menu-gap: 30px;
  --header-font-size: 15px;
  --header-button-space-width: 7px;
  --header-button-text-animation-transition-constant: .1s;

  --header-stake-with-node101-button-width: 145px;
  --header-stake-with-node101-button-height: 45px;
  --header-stake-with-node101-button-horizontal-padding: 17px;
  --header-stake-with-node101-button-background-radial-start: rgba(220, 228, 248, 1);
  --header-stake-with-node101-button-background-radial-end: rgba(177, 199, 255, 1);
  --header-stake-with-node101-button-background-color-1: rgba(172, 148, 236, 1);
  --header-stake-with-node101-button-background-color-2: rgba(255, 170, 180, 1);
  --header-stake-with-node101-button-background-color-3: rgba(243, 145, 145, 1);
  --header-stake-with-node101-button-background-color-4: rgba(241, 173, 173, 1);
  --header-stake-with-node101-button-background-each-circle-animation-duration: 11s;
  --header-stake-with-node101-button-text-width: 89px;
  --header-stake-with-node101-button-icon-width: 13px;

  --header-change-language-button-height: 25px;
  --header-change-language-button-width: 40px;
  --header-change-language-button-icon-width: 14px;
  --header-change-language-button-menu-height: 45px;
  --header-change-language-button-menu-border-radius: 25px;
  --each-header-change-language-button-menu-text-height: 30px;

  --header-responsive-menu-button-spacing: 10px;
  --header-responsive-menu-button-each-icon-height: 4px;
  --header-responsive-menu-button-each-icon-width: 35px;
  --header-responsive-menu-button-each-icon-gap: 4px;
  --header-responsive-menu-button-each-icon-animation-duration: .5s;

  --header-wrapper-responsive-menu-buttons-wrapper-margin-top: 20px;
  --header-wrapper-responsive-menu-each-button-font-size: 45px;
  --header-wrapper-responsive-menu-each-button-margin-top: 30px;

  --header-wrapper-responsive-menu-media-each-button-icon-height: 25px;
  --header-wrapper-responsive-menu-media-each-button-icon-gap: 25px;

  --header-wrapper-responsive-copyright-text-font-size: 14px;
  --header-wrapper-responsive-copyright-text-margin-top: 10px;
}

.all-wrapper {
  height: 100dvh;
  min-height: 100dvh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  overflow: hidden;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(var(--page-vertical-padding) + var(--header-height));
  min-height: calc(var(--page-vertical-padding) + var(--header-height));
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.header-top-line-wrapper {
  height: var(--page-vertical-padding);
  min-height: var(--page-vertical-padding);
  width: 100vw;
  min-width: 100vw;
  background-color: var(--background-color);
  overflow: visible;
}

.header-top-line-radius-left, .header-top-line-radius-right  {
  position: absolute;
  top: var(--page-vertical-padding);
  left: calc(2 * var(--page-horizontal-padding) + var(--header-logo-width) + var(--page-horizontal-padding));
  height: var(--header-vertical-padding);
  min-height: var(--header-vertical-padding);
  width: var(--header-vertical-padding);
  min-width: var(--header-vertical-padding);
  background-color: transparent;
  overflow: hidden;
}
.header-top-line-radius-right {
  left: unset;
  right: calc(2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width) + var(--page-horizontal-padding) + var(--page-horizontal-padding));
}
.header-top-line-radius-left-inner-circle, .header-top-line-radius-right-inner-circle {
  height: calc(2 * var(--header-vertical-padding));
  min-height: calc(2 * var(--header-vertical-padding));
  width: calc(2 * var(--header-vertical-padding));
  min-width: calc(2 * var(--header-vertical-padding));
  background-color: transparent;
  border-radius: 100%;
  box-shadow: 0 0 0 10000px var(--background-color);
}
.header-top-line-radius-right-inner-circle {
  transform: translateX(-50%);
}

.header-bottom-line-wrapper {
  height: var(--header-height);
  min-height: var(--header-height);
  width: 100vw;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header-logo-wrapper {
  height: 100%;
  min-height: 100%;
  width: calc(2 * var(--page-horizontal-padding) + var(--header-logo-width) + var(--page-horizontal-padding));
  min-width: calc(2 * var(--page-horizontal-padding) + var(--header-logo-width) + var(--page-horizontal-padding));
  display: flex;
  align-items: center;
  padding-left: calc(var(--page-horizontal-padding) + var(--page-horizontal-padding));
  padding-right: var(--page-horizontal-padding);
  background-color: var(--background-color);
  border-bottom-right-radius: calc(var(--header-height) - var(--header-vertical-padding));
  z-index: 2;
}
.header-logo-link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-decoration: none;
  cursor: var(--pointer-hand-light);
  margin-bottom: calc(var(--header-logo-width) / -10);
}
.header-logo {
  height: auto;
  min-height: auto;
  width: var(--header-logo-width);
  min-width: var(--header-logo-width);
}

.header-buttons-wrapper {
  height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  min-height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  width: calc(100vw - 2 * var(--page-horizontal-padding) - 3 * var(--page-horizontal-padding) - 2 * var(--header-gap) - var(--header-logo-width) - (2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width)));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding) - 3 * var(--page-horizontal-padding) - 2 * var(--header-gap) - var(--header-logo-width) - (2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width)));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color);
  border-radius: calc((var(--header-height) - 2 * var(--header-vertical-padding)) / 2);
}
.each-header-button {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-decoration: none;
  cursor: var(--pointer-hand-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-header-button-text-wrapper {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-shrink: 1 0 auto;
}
.each-header-button:hover .each-header-button-text-wrapper .each-header-button-text {
  transform: translateY(1.2em);
}
.each-header-button-text-wrapper-two {
  display: flex;
  overflow: hidden;
  position: absolute;
  flex-shrink: 1 0 auto;
}
.each-header-button .each-header-button-text-wrapper-two .each-header-button-text {
  transform: translateY(-1.2em);
}
.each-header-button:hover .each-header-button-text-wrapper-two .each-header-button-text {
  transform: translateY(0);
}
.each-header-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--header-font-size);
  font-weight: 400;
  color: var(--dark-text-color);
  flex-shrink: 0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header-menu-wrapper {
  height: 100%;
  min-height: 100%;
  width: calc(2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width) + var(--page-horizontal-padding) + var(--page-horizontal-padding));
  min-width: calc(2 * var(--header-menu-gap) + var(--header-stake-with-node101-button-width) + var(--header-change-language-button-width) + var(--page-horizontal-padding) + var(--page-horizontal-padding));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--header-menu-gap);
  padding-right: calc(var(--page-horizontal-padding) + var(--page-horizontal-padding));
  background-color: var(--background-color);
  border-bottom-left-radius: calc(var(--header-height) - var(--header-vertical-padding));
}

.header-stake-with-node101-button {
  position: relative;
  height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  min-height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  width: var(--header-stake-with-node101-button-width);
  min-width: var(--header-stake-with-node101-button-width);
  background-color: var(--light-color);
  background: radial-gradient(circle, var(--header-stake-with-node101-button-background-radial-start), var(--header-stake-with-node101-button-background-radial-end) 80%);
  border-radius: calc((var(--header-height) - 2 * var(--header-vertical-padding)) / 2);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  cursor: var(--pointer-hand-light);
  z-index: 1;
}
.header-stake-with-node101-button:hover .header-stake-with-node101-button-text,
.header-stake-with-node101-button:hover .header-stake-with-node101-button-text-responsive {
  left: calc(var(--header-stake-with-node101-button-width) - var(--header-stake-with-node101-button-horizontal-padding));
  transform: translateX(-100%);
}
.header-stake-with-node101-button:hover .header-stake-with-node101-button-icon-left {
  left: var(--header-stake-with-node101-button-horizontal-padding);
  transform: translateX(0);
}
.header-stake-with-node101-button:hover .header-stake-with-node101-button-icon-right {
  right: 0;
  transform: translateX(100%);
}

.header-stake-with-node101-button-background {
  position: relative;
  height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  min-height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  width: var(--header-stake-with-node101-button-width);
  min-width: var(--header-stake-with-node101-button-width);
  overflow: hidden;
  border-radius: calc((var(--header-height) - 2 * var(--header-vertical-padding)) / 2);
}

.header-stake-with-node101-button-background-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-filter: blur(var(--header-stake-with-node101-button-background-each-circle-blur, 8px));
          filter: blur(var(--header-stake-with-node101-button-background-each-circle-blur, 8px));
  background: var(--header-stake-with-node101-button-background-each-circle-background, transparent);
  transform: translate(var(--header-stake-with-node101-button-background-each-circle-x, 0), var(--header-stake-with-node101-button-background-each-circle-y, 0)) translateZ(0);
  -webkit-animation: var(--header-stake-with-node101-button-background-each-circle-animation, none) var(--header-stake-with-node101-button-background-each-circle-animation-duration) linear infinite;
          animation: var(--header-stake-with-node101-button-background-each-circle-animation, none) var(--header-stake-with-node101-button-background-each-circle-animation-duration) linear infinite;
}

.header-stake-with-node101-button-background-circle-1 {
  --header-stake-with-node101-button-background-each-circle-background: var(--header-stake-with-node101-button-background-color-4);
}
.header-stake-with-node101-button-background-circle-2,
.header-stake-with-node101-button-background-circle-5 {
  --header-stake-with-node101-button-background-each-circle-background: var(--header-stake-with-node101-button-background-color-1);
  --header-stake-with-node101-button-background-each-circle-blur: 12px;
}
.header-stake-with-node101-button-background-circle-3,
.header-stake-with-node101-button-background-circle-4 {
  --header-stake-with-node101-button-background-each-circle-background: var(--header-stake-with-node101-button-background-color-2);
  --header-stake-with-node101-button-background-each-circle-blur: 14px;
}

.header-stake-with-node101-button-background-circle-1 {
  --header-stake-with-node101-button-background-each-circle-x: 0;
  --header-stake-with-node101-button-background-each-circle-y: -40px;
  --header-stake-with-node101-button-background-each-circle-animation: circle-1;
}
.header-stake-with-node101-button-background-circle-2 {
  --header-stake-with-node101-button-background-each-circle-x: 92px;
  --header-stake-with-node101-button-background-each-circle-y: 8px;
  --header-stake-with-node101-button-background-each-circle-animation: circle-2;
}
.header-stake-with-node101-button-background-circle-3 {
  --header-stake-with-node101-button-background-each-circle-x: -12px;
  --header-stake-with-node101-button-background-each-circle-y: -12px;
  --header-stake-with-node101-button-background-each-circle-animation: circle-3;
}
.header-stake-with-node101-button-background-circle-4 {
  --header-stake-with-node101-button-background-each-circle-x: 80px;
  --header-stake-with-node101-button-background-each-circle-y: -12px;
  --header-stake-with-node101-button-background-each-circle-animation: circle-4;
}
.header-stake-with-node101-button-background-circle-5 {
  --header-stake-with-node101-button-background-each-circle-x: 12px;
  --header-stake-with-node101-button-background-each-circle-y: -4px;
  --header-stake-with-node101-button-background-each-circle-animation: circle-5;
}

@-webkit-keyframes circle-1 {
  33% {
    transform: translate(0px, 16px);
  }

  66% {
    transform: translate(12px, 64px);
  }
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px);
  }

  66% {
    transform: translate(12px, 64px);
  }
}
@-webkit-keyframes circle-2 {
  33% {
    transform: translate(80px, -10px);
  }

  66% {
    transform: translate(72px, -48px);
  }
}
@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px);
  }

  66% {
    transform: translate(72px, -48px);
  }
}
@-webkit-keyframes circle-3 {
  33% {
    transform: translate(20px, 12px);
  }

  66% {
    transform: translate(12px, 4px);
  }
}
@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px);
  }

  66% {
    transform: translate(12px, 4px);
  }
}
@-webkit-keyframes circle-4 {
  33% {
    transform: translate(76px, -12px);
  }

  66% {
    transform: translate(112px, -8px);
  }
}
@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px);
  }

  66% {
    transform: translate(112px, -8px);
  }
}
@-webkit-keyframes circle-5 {
  33% {
    transform: translate(84px, 28px);
  }

  66% {
    transform: translate(40px, -32px);
  }
}
@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px);
  }

  66% {
    transform: translate(40px, -32px);
  }
}

.header-stake-with-node101-button-content {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  min-height: calc(var(--header-height) - 2 * var(--header-vertical-padding));
  width: var(--header-stake-with-node101-button-width);
  min-width: var(--header-stake-with-node101-button-width);
  background-color: transparent;
  padding: 0 var(--header-stake-with-node101-button-horizontal-padding);
  z-index: 5;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header-stake-with-node101-button-text, .header-stake-with-node101-button-text-responsive {
  width: var(--header-stake-with-node101-button-text-width);
  min-width: var(--header-stake-with-node101-button-text-width);
  position: absolute;
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--header-font-size);
  font-weight: 400;
  color: var(--dark-text-color);
  margin-bottom: -2px;
  transition: 0.5s;
  left: var(--header-stake-with-node101-button-horizontal-padding);
}
.header-stake-with-node101-button-text-responsive {
  display: none;
}
.header-stake-with-node101-button-icon-left, .header-stake-with-node101-button-icon-right {
  position: absolute;
  height: auto;
  min-height: auto;
  width: var(--header-stake-with-node101-button-icon-width);
  min-width: var(--header-stake-with-node101-button-icon-width);
  fill: var(--dark-text-color);
  transition: 0.5s;
}
.header-stake-with-node101-button-icon-left {
  left: 0;
  transform: translateX(-100%);
}
.header-stake-with-node101-button-icon-right {
  right: var(--header-stake-with-node101-button-horizontal-padding);
}

.header-change-language-button {
  height: var(--header-change-language-button-height);
  min-height: var(--header-change-language-button-height);
  width: var(--header-change-language-button-width);
  min-width: var(--header-change-language-button-width);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
  z-index: 2;
}

.header-change-language-button-content {
  height: var(--header-change-language-button-height);
  min-height: var(--header-change-language-button-height);
  width: calc(var(--header-change-language-button-width) + var(--header-change-language-button-icon-width));
  min-width: calc(var(--header-change-language-button-width) + var(--header-change-language-button-icon-width));
  margin-right: calc(-1 * var(--header-change-language-button-icon-width));
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: var(--background-color);
  cursor: var(--pointer-hand-light);
}
.header-change-language-button-text {
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--header-font-size);
  color: var(--dark-text-color);
  height: 0.8em;
}
.header-change-language-button-icon {
  height: auto;
  min-height: auto;
  width: var(--header-change-language-button-icon-width);
  min-width: var(--header-change-language-button-icon-width);
  fill: var(--dark-text-color);
  margin-top: 1px;
  margin-left: auto;
  margin-right: 5px;
}

.header-change-language-button-menu-wrapper {
  height: var(--header-change-language-button-menu-border-radius);
  min-height: var(--header-change-language-button-menu-border-radius);
  width: calc(var(--header-change-language-button-width) + var(--header-change-language-button-icon-width));
  min-width: calc(var(--header-change-language-button-width) + var(--header-change-language-button-icon-width));
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--background-color);
  margin-top: calc(-1 * var(--header-change-language-button-menu-border-radius));
  padding-top: var(--header-change-language-button-menu-border-radius);
  border-bottom-left-radius: var(--header-change-language-button-menu-border-radius);
  border-bottom-right-radius: var(--header-change-language-button-menu-border-radius);
}
.header-change-language-button-menu-wrapper-open-animation {
  -webkit-animation: headerChangeLanguageButtonMenuOpenBottomAnimation .6s linear forwards;
          animation: headerChangeLanguageButtonMenuOpenBottomAnimation .6s linear forwards;
}
.header-change-language-button-menu-wrapper-close-animation {
  -webkit-animation: headerChangeLanguageButtonMenuCloseBottomAnimation .3s ease-in forwards;
          animation: headerChangeLanguageButtonMenuCloseBottomAnimation .3s ease-in forwards;
}
@-webkit-keyframes headerChangeLanguageButtonMenuOpenBottomAnimation {
  0% {
    height: var(--header-change-language-button-menu-border-radius);
    min-height: var(--header-change-language-button-menu-border-radius);
  }
  30% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
  45% {
    height: calc(1.2 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
    min-height: calc(1.2 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
  }
  60% {
    height: calc(.9 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
    min-height: calc(.9 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
  }
  75% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
  90% {
    height: calc(.95 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
    min-height: calc(.95 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
  }
  100% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
}
@keyframes headerChangeLanguageButtonMenuOpenBottomAnimation {
  0% {
    height: var(--header-change-language-button-menu-border-radius);
    min-height: var(--header-change-language-button-menu-border-radius);
  }
  30% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
  45% {
    height: calc(1.2 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
    min-height: calc(1.2 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
  }
  60% {
    height: calc(.9 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
    min-height: calc(.9 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
  }
  75% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
  90% {
    height: calc(.95 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
    min-height: calc(.95 * (var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius)));
  }
  100% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
}
@-webkit-keyframes headerChangeLanguageButtonMenuCloseBottomAnimation {
  0% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
  100% {
    height: var(--header-change-language-button-menu-border-radius);
    min-height: var(--header-change-language-button-menu-border-radius);
  }
}
@keyframes headerChangeLanguageButtonMenuCloseBottomAnimation {
  0% {
    height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
    min-height: calc(var(--header-change-language-button-menu-height) + var(--header-change-language-button-menu-border-radius));
  }
  100% {
    height: var(--header-change-language-button-menu-border-radius);
    min-height: var(--header-change-language-button-menu-border-radius);
  }
}
.header-change-language-button-menu {
  height: var(--header-change-language-button-menu-height);
  min-height: var(--header-change-language-button-menu-height);
  width: calc(var(--header-change-language-button-width) + var(--header-change-language-button-icon-width));
  min-width: calc(var(--header-change-language-button-width) + var(--header-change-language-button-icon-width));
  background-color: var(--background-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.each-header-change-language-button-menu-text {
  height: var(--each-header-change-language-button-menu-text-height);
  min-height: var(--each-header-change-language-button-menu-text-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Igra Sans', sans-serif;
  font-size: var(--header-font-size);
  color: var(--dark-text-color);
  cursor: var(--pointer-hand-light);
}
.each-header-change-language-button-menu-text:hover {
  font-weight: 600;
}

.header-wrapper-responsive {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--page-vertical-padding) + var(--header-height));
  min-height: calc(var(--page-vertical-padding) + var(--header-height));
  width: 100vw;
  min-width: 100vw;
  display: none;
  flex-direction: column;
  z-index: 999;
  padding-top: var(--page-vertical-padding);
  padding-left: var(--page-horizontal-padding);
  padding-right: var(--page-horizontal-padding);
  background-color: var(--background-color);
}

.header-wrapper-responsive-content {
  height: var(--header-height);
  min-width: var(--header-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--page-horizontal-padding);
}

.header-responsive-menu-button-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  border-bottom-left-radius: calc(var(--header-height) / 2);
  background-color: var(--background-color);
  z-index: 2;
}
.header-responsive-menu-button-color-curvature {
  position: absolute;
  top: 0;
  left: calc(-1 * var(--header-height) / 2);
  height: calc(var(--header-height) / 2);
  min-height: calc(var(--header-height) / 2);
  width: calc(var(--header-height) / 2);
  min-width: calc(var(--header-height) / 2);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.header-responsive-menu-button-color-curvature-inner-circle {
  height: var(--header-height);
  min-height: var(--header-height);
  width: var(--header-height);
  min-width: var(--header-height);
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 1000px var(--background-color);
}
.header-responsive-menu-button-color-curvature-two {
  position: absolute;
  top: var(--header-height);
  right: 0;
  height: calc(var(--start-page-radius));
  min-height: calc(var(--start-page-radius));
  width: calc(var(--start-page-radius));
  min-width: calc(var(--start-page-radius));
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.header-responsive-menu-button-color-curvature-two-inner-circle {
  height: calc(2 * var(--start-page-radius));
  min-height: calc(2 * var(--start-page-radius));
  width: calc(2 * var(--start-page-radius));
  min-width: calc(2 * var(--start-page-radius));
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 1000px var(--background-color);
}
.header-responsive-menu-button {
  position: relative;
  height: calc(3 * var(--header-responsive-menu-button-each-icon-height) + 2 * var(--header-responsive-menu-button-each-icon-gap));
  min-height: calc(3 * var(--header-responsive-menu-button-each-icon-height) + 2 * var(--header-responsive-menu-button-each-icon-gap));
  width: var(--header-responsive-menu-button-each-icon-width);
  min-width: var(--header-responsive-menu-button-each-icon-width);
  display: flex;
  flex-direction: column;
  margin-left: var(--header-responsive-menu-button-spacing);
  overflow: visible;
  cursor: var(--pointer-hand-light);
}
.header-responsive-menu-button-each-icon {
  position: absolute;
  left: 0;
  height: var(--header-responsive-menu-button-each-icon-height);
  min-height: var(--header-responsive-menu-button-each-icon-height);
  width: var(--header-responsive-menu-button-each-icon-width);
  min-width: var(--header-responsive-menu-button-each-icon-width);
  background-color: var(--dark-text-color);
  border-radius: calc(var(--header-responsive-menu-button-each-icon-height) / 2);
  transition: var(--header-responsive-menu-button-each-icon-animation-duration);
}
.header-responsive-menu-button-each-icon-top {
  top: 0;
}
.header-responsive-menu-button-each-icon-top-opened {
  top: calc(var(--header-responsive-menu-button-each-icon-height) + var(--header-responsive-menu-button-each-icon-gap));
  transform: rotate(45deg);
}
.header-responsive-menu-button-each-icon-middle {
  top: calc(var(--header-responsive-menu-button-each-icon-height) + var(--header-responsive-menu-button-each-icon-gap));
  left: 50%;
  transform: translateX(-50%);
}
.header-responsive-menu-button-each-icon-middle-opened {
  top: calc(var(--header-responsive-menu-button-each-icon-height) + var(--header-responsive-menu-button-each-icon-gap) - 3px);
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  border-radius: 3px;
}
.header-responsive-menu-button-each-icon-bottom {
  top: calc(2 * var(--header-responsive-menu-button-each-icon-height) + 2 * var(--header-responsive-menu-button-each-icon-gap));
}
.header-responsive-menu-button-each-icon-bottom-opened {
  top: calc(2 * var(--header-responsive-menu-button-each-icon-height) + 2 * var(--header-responsive-menu-button-each-icon-gap));
  top: calc(var(--header-responsive-menu-button-each-icon-height) + var(--header-responsive-menu-button-each-icon-gap));
  transform: rotate(-45deg);
}

.header-wrapper-responsive-menu {
  position: fixed;
  right: var(--page-horizontal-padding);
  top: var(--page-vertical-padding);
  height: 0;
  min-height: 0;
  width: 0;
  min-width: 0;
  background-color: var(--light-color);
  border-radius: calc(var(--header-height) / 2);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s;
  overflow: hidden;
  z-index: 1;
}
.header-wrapper-responsive-menu-opened {
  padding: var(--page-horizontal-padding);
  padding-top: var(--header-height);
  height: calc(100dvh - 2 * var(--page-vertical-padding));
  min-height: calc(100dvh - 2 * var(--page-vertical-padding));
  width: calc(100vw - 2 * var(--page-horizontal-padding));
  min-width: calc(100vw - 2 * var(--page-horizontal-padding));
}
/* header-wrapper-responsive-menu-opened olunca aşağıdakini header-stake-with-node101-button display none yap: */

.header-wrapper-responsive-menu-buttons-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: calc(100vw - 4 * var(--page-horizontal-padding));
  min-width: calc(100vw - 4 * var(--page-horizontal-padding));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--header-wrapper-responsive-menu-buttons-wrapper-margin-top);
}
.header-wrapper-responsive-menu-each-button {
  font-weight: 400;
  font-family: 'Igra Sans', sans-serif;
  color: var(--dark-text-color);
  font-size: var(--header-wrapper-responsive-menu-each-button-font-size);
  margin-top: var(--header-wrapper-responsive-menu-each-button-margin-top);
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: var(--pointer-hand-dark);
}
.header-wrapper-responsive-menu-each-button:hover {
  border-bottom: 2px solid var(--dark-text-color);
}

.header-wrapper-responsive-menu-social-media-wrapper {
  height: var(--header-wrapper-responsive-menu-media-each-button-icon-height);
  min-height: var(--header-wrapper-responsive-menu-media-each-button-icon-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.header-wrapper-responsive-menu-media-each-button {
  height: var(--header-wrapper-responsive-menu-media-each-button-icon-height);
  min-height: var(--header-wrapper-responsive-menu-media-each-button-icon-height);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 calc(var(--header-wrapper-responsive-menu-media-each-button-icon-gap) / 2);
  opacity: 0.9;
  cursor: var(--pointer-hand-dark);
  text-decoration: none;
}
.header-wrapper-responsive-menu-media-each-button:hover {
  opacity: 1;
}
.header-wrapper-responsive-menu-media-each-button-icon {
  height: var(--header-wrapper-responsive-menu-media-each-button-icon-height);
  min-height: var(--header-wrapper-responsive-menu-media-each-button-icon-height);
  width: auto;
  min-width: auto;
  fill: var(--dark-text-color);
}

.header-wrapper-responsive-copyright-text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: var(--dark-text-color);
  font-size: var(--header-wrapper-responsive-copyright-text-font-size);
  margin-top: var(--header-wrapper-responsive-copyright-text-margin-top);
}

.content-wrapper {
  height: 100dvh;
  min-height: 100dvh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: var(--page-vertical-padding);
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  scrollbar-width: none;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1250px) {
  :root {
    --header-logo-width: 50px;
    --header-menu-gap: 25px;
    --header-font-size: 14px;
    --header-button-space-width: 5px;
    --header-stake-with-node101-button-width: 130px;
    --header-stake-with-node101-button-horizontal-padding: 13px;
    --header-change-language-button-width: 35px;
    --header-change-language-button-menu-height: 38px;
  }
}
@media only screen and (max-width: 1100px) {
  :root {
    --header-height: 70px;
    --header-gap: 10px;
  }
  .header-buttons-wrapper, .header-stake-with-node101-button, .header-stake-with-node101-button-background, .header-stake-with-node101-button-content {
    height: calc(var(--header-height) - 1.5 * var(--header-vertical-padding));
    min-height: calc(var(--header-height) - 1.5 * var(--header-vertical-padding));
    border-radius: calc((var(--header-height) - 1.5 * var(--header-vertical-padding)) / 2);
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --header-height: 60px;
    --header-menu-gap: 15px;
    --header-stake-with-node101-button-width: 100px;
    --header-stake-with-node101-button-height: 40px;
    --header-stake-with-node101-button-text-width: 52px;
    --header-stake-with-node101-button-horizontal-padding: 13px;
    --header-change-language-button-width: 30px;
  }
  .header-logo-wrapper {
    border-bottom-right-radius: 30px;
  }
  .header-menu-wrapper {
    border-bottom-left-radius: 30px;
  }
  .header-buttons-wrapper, .header-stake-with-node101-button, .header-stake-with-node101-button-background, .header-stake-with-node101-button-content {
    height: calc(var(--header-height) - 1.4 * var(--header-vertical-padding));
    min-height: calc(var(--header-height) - 1.4 * var(--header-vertical-padding));
    border-radius: calc((var(--header-height) - 1.4 * var(--header-vertical-padding)) / 2);
  }
  .header-stake-with-node101-button {
    margin-left: 0;
  }
  .header-stake-with-node101-button-text {
    display: none;
  }
  .header-stake-with-node101-button-text-responsive {
    display: initial;
  }
}
@media only screen and (max-width: 950px) {
  :root {
    --header-height: 55px;
    --header-logo-width: 40px;
    --header-stake-with-node101-button-width: 90px;
  }
  .header-logo-wrapper {
    border-bottom-right-radius: 20px;
  }
  .header-menu-wrapper {
    border-bottom-left-radius: 20px;
  }
  .header-buttons-wrapper, .header-stake-with-node101-button, .header-stake-with-node101-button-background, .header-stake-with-node101-button-content {
    height: calc(var(--header-height) - 1 * var(--header-vertical-padding));
    min-height: calc(var(--header-height) - 1 * var(--header-vertical-padding));
    border-radius: calc((var(--header-height) - 1 * var(--header-vertical-padding)) / 2);
  }
  .header-stake-with-node101-button-text-responsive {
    left: calc(var(--header-stake-with-node101-button-width) / 2);
    transform: translateX(-50%);
  }
  .header-stake-with-node101-button:hover .header-stake-with-node101-button-text-responsive {
    left: calc(var(--header-stake-with-node101-button-width) / 2);
    transform: translateX(-50%);
  }
  .header-stake-with-node101-button-icon-left, .header-stake-with-node101-button-icon-right {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --header-gap: 0px;
  }
  .header-buttons-wrapper {
    flex: 1;
  }
  .header-buttons-wrapper {
    height: var(--header-height);
    min-height: var(--header-height);
    border-radius: 0;
  }
  .header-logo-wrapper, .header-menu-wrapper {
    border-radius: 0;
  }
}
@media only screen and (max-width: 850px) {
  :root {
    --header-stake-with-node101-button-width: 80px;
  }

  .header-buttons-wrapper {
    justify-content: center;
  }
  .each-header-button {
    margin: 0 calc(var(--header-menu-gap) / 2);
  }
  .each-header-button-secondary {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --header-font-size: 15px;
    --header-change-language-button-height: 30px;
    --each-header-change-language-button-menu-text-height: 30px;
    --header-change-language-button-menu-height: 30px;
    --header-change-language-button-menu-border-radius: 15px;
    --header-change-language-button-width: 60px;
    --header-stake-with-node101-button-text-width: 89px;
  }
  .header-wrapper {
    display: none;
  }
  .header-wrapper-responsive {
    display: flex;
  }
  .header-logo-wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 0;
    margin-right: auto;
    background-color: transparent;
  }
  .header-buttons-wrapper, .header-stake-with-node101-button, .header-stake-with-node101-button-background, .header-stake-with-node101-button-content {
    height: calc(var(--header-height) - 1.6 * var(--header-vertical-padding));
    min-height: calc(var(--header-height) - 1.6 * var(--header-vertical-padding));
    border-radius: calc((var(--header-height) - 1.6 * var(--header-vertical-padding)) / 2);
  }
  .header-stake-with-node101-button {
    margin-right: var(--header-responsive-menu-button-spacing);
  }
  .header-change-language-button {
    margin-left: 0;
    margin-right: calc(var(--header-stake-with-node101-button-width) * -1 + var(--header-responsive-menu-button-spacing) * 1.5);
  }
  .header-change-language-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    padding: 10px;
    border-radius: calc(var(--header-change-language-button-height) / 2);
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --header-wrapper-responsive-menu-buttons-wrapper-margin-top: 15px;
    --header-wrapper-responsive-menu-each-button-font-size: 35px;
    --header-wrapper-responsive-menu-each-button-margin-top: 24px;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    /* --header-wrapper-responsive-menu-buttons-wrapper-margin-top: 8px; */
    --header-wrapper-responsive-menu-each-button-font-size: 30px;
    --header-wrapper-responsive-menu-each-button-margin-top: 16px;
  }
}
